$color-blue-light: rgba(#97D2FB, 1);
$color-blue-dark: rgba(#2C86C4, 1);
$color-white: rgba(#F7FBFD, 1);
$color-blue-dark-nav: rgba(#2C86C4, .25);
$color-gray: rgba(#9A9A9A, 1);


$color-orange: rgba(#FFC077, 1);



$navbar-height: 8rem;


$font-1: 5.5rem;
$font-2: 2.2rem;