.svg-nav {
    position: absolute;
    z-index: -1000;

    .st0 {
        fill:#97D2FB;
        fill-opacity:0.25;
    }

    .st0-white {
        fill: $color-white !important;
        fill-opacity:1 !important;
    }


}

.nav-white {
    background-color: $color-blue-light-trans;
    width: 100%;
    height: $navbar-height;
    position: absolute;
    z-index: -2000;
}


.nav {
    height: $navbar-height;
    width: 100vw;
    
    

    .svg-logo-container {
        height: 80%;
        // background-color: orangered;
        display: flex;
        align-items: center;
        

        .svg-logo {
            margin-left: 7rem;
            margin-right: 7rem;
            width: 10rem;
            z-index: 100;
            
            transition: transform .4s;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);

                
            }
        }
    }
    
    
    &-not-login {
        .nav-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .button-container {
                height: 80%;
                // background-color: orangered;
                display: flex;
                align-items: center;

                * {
                    margin-right: 3rem;
                }
            }
        }
    }

    &-login {


        .nav-container {
            width: 100%;
            display: flex;

            

            .button-container {
                height: 80%;
                // background-color: white;
                flex: 1;
                display: flex;
                align-items: center;

                font-size: 2rem;

                a {
                    color: $color-blue-dark !important;
                    
                }

                *:not(:last-child){
                    margin-right: 3rem;
                }


                .search-box {
                    border: 3px solid $color-blue-dark;
                    // font-size: $font-2;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    


                    svg {
                        width: 2rem;
                        height: 2rem;
                        fill: $color-blue-dark;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        z-index: 100;
                    }

                    input {
                        border: none;
                        outline: none;
                        background-color: inherit;
                        padding: .2rem 0;
                        padding-right: 1.5rem;
                        color: $color-blue-dark;


                        &::placeholder,
                        &::-webkit-input-placeholder {
                            color: rgba($color: #2C86C5, $alpha: .54)
                        }

                        
                    }
                }

            }


            .user-photo-container {
                height: 80%;
                // background-color: yellow;
                display: flex;
                align-items: center;

                img {
                    height: 5rem;
                    width: 5rem;
                    border-radius: 50%;
                    margin-right: 5rem;
                    transition: transform .4s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.2);
                    }
                }
            }
            
        }
    }
}


