.post-detail-container {
    margin-bottom: 30rem;

    .post-detail {
        color: initial;

        &-tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.4rem;
        }

        .post__heading {
            &:hover {
                color: unset;
            }
        }

        .post__content {


            img {
                max-width: 100%;
                height: auto;
                max-height: 30rem;
                object-fit: contain;
            }
        }

        .post__bottom {

            &__actions {

                .action {
                    margin-right: 2rem;
                }
            }
        }
    }


}
