// transformX animation
@keyframes button-animation-1 {
    from {
        transform: translateX(.7rem);
    }
    50% {
        transform: translateX(1.2rem);
    }
    to {
        transform: translateX(.7rem);
    }
}

@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// transformY animation
@keyframes invalid-input-animation-1 {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// pulsate animation
@keyframes anchor-animation-pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

@keyframes anchor-animation-pulsate-student {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1);
        box-shadow: 1rem 1rem 4rem 1rem rgba($color: $color-blue-secondary, $alpha: .8);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

@keyframes anchor-animation-pulsate-tutor {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1);
        box-shadow: 1rem 1rem 4rem 1rem rgba($color: $color-purple-secondary, $alpha: .8);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

// scale animation
@keyframes scale-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

// fade animation
@keyframes fade-in-animation {
    from { opacity: 0; }
    to   { opacity: 1; }
}



// bg-shape animation
@keyframes bg-shape-animation-1 {
    from {
        transform: rotate(0deg) translate(0, 0);

    }
    50% {
        transform: rotate(10deg) translate(3rem, 2rem);
    }
    to {
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes bg-shape-animation-1-md {
    from {
        transform: rotate(0deg) translate(0, 0) scale(.8);

    }
    50% {
        transform: rotate(10deg) translate(3rem, 2rem) scale(.75);
    }
    to {
        transform: rotate(0deg) translate(0, 0) scale(.8);
    }
}

@keyframes bg-shape-animation-1-extra-sm {
    from {
        transform: rotate(0deg) translate(0, 0) scale(.5);

    }
    50% {
        transform: rotate(10deg) translate(2rem, 1rem) scale(.6);
    }
    to {
        transform: rotate(0deg) translate(0, 0) scale(.5);
    }
}

@keyframes bg-shape-animation-2 {
    from {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-3rem);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes bg-shape-animation-2-md {
    from {
        transform: translateX(0) scale(.8);
    }
    50% {
        transform: translateX(-3rem) scale(.75);
    }
    to {
        transform: translateX(0) scale(.8);
    }
}

@keyframes bg-shape-animation-2-extra-sm {
    from {
        transform: translateX(0) scale(.5);
    }
    50% {
        transform: translateX(8rem) scale(.52);
    }
    to {
        transform: translateX(0) scale(.5);
    }
}

