*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px in this case)
    font-size: 62.5%;

    @include respond(lg-2) {
        font-size: 56.25%; //to make 1 rem = 9px
    }

    @include respond(md) {
        font-size: 53.125%; //to make 1 rem = 8.5px
    }

    @include respond(sm) {
        font-size: 50%; //to make 1 rem = 8px
    }

    @include respond(extra-sm) {
        font-size: 37.5%; //to make 1 rem = 6px
    }

    @include respond(extra-lg) {
        font-size: 75%; //to make 1 rem = 12px
    }
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}


::selection {
    // define the color you want when select text
    // background-color: $color-primary;
    // color: $color-white;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

