body {
    font-family: Avenir;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Bhai 2', cursive;
}

h1 {
    font-size: 6.4rem;
    font-weight: 700;
}

// Page or section titles
h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

// Profile, popover titles
h3 {
    font-size: 4rem;
}

// Own profile subnav
h4 {

}

// Subheads, buttons, section info
h5 {

}

// Names on Dashboard posts, messages,
h6 {

}

// Labels
label {

}
