// ====================== position ===================
.p-relative { position: relative; }
.p-absolute { position: absolute; }

.top-0 { top: 0; }
.top-100 { top: 100%; }
.bottom-100 { bottom: 100%; }
.right-0 { right: 0; }

// ====================== display & visibility ==================
.hidden { display: none !important; }
.inline-grid { display: inline-grid !important; }
.invisible { visibility: hidden; }

// ==================== padding & margin ===================
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }

// ==================== background color ===================
.bg-grey-light { background-color: $color-grey-light !important; }
.bg-grey { background-color: $color-grey !important; }


// ===================== svg =================
.fill-color-blue-secondary { fill: $color-blue-secondary !important; }
.fill-color-purple-secondary { fill: $color-purple-secondary !important; }
.fill-color-yellow-primary { fill: $color-yellow-primary; }
.fill-color-purple-primary { fill: $color-purple-primary; }
.fill-color-blue-primary { fill: $color-blue-primary; }
.fill-opacity-80 { fill-opacity: .8; }
.fill-opacity-70 { fill-opacity: .7; }

// ======================== border ======================
.bc-blue-secondary { border-color: $color-blue-secondary !important; }

// ======================== font color & size ==================
.fs-1-2 { font-size: 1.2rem; }
.fs-1-4 { font-size: 1.4rem; }
.fs-1-6 { font-size: 1.6rem; }
.fs-2 { font-size: 2rem; }
.fs-2-2 { font-size: 2.2rem; }
.fs-2-4 { font-size: 2.4rem; }
.fc-grey { color: $color-grey !important; }
.fc-blue-tertiary { color: $color-blue-tertiary; }
.fc-purple-tertiary { color: $color-purple-tertiary; }
.fc-black { color: black !important; }
.fc-red { color: red; }

// =============== absolute and relative positions ===================
.left-n-2 { left: -2rem; }


// =============== others =================
.ws-no-wrap { white-space: nowrap; }

