

.edit-profile__form {
    margin-bottom: 10rem;
    color: black;
    

    button, a {
        font-size: 2rem;
    }
    
    &__header {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: $font-2;
        }
        button:not(:last-child), a:not(:last-child) {
            margin-right: 1rem;
        }
    }



    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        @include respond(phone) {
            width: 100% !important;
        }

        & > * {
            flex: 0 0 46%;
        }

        & input {
            font-size: 2rem;
            background-color: $color-white;
            border: 1px solid $color-gray;
            padding: .5rem 1rem;
            outline: none;
            border-radius: 8px;
            
        }

        

        & select {
            background-color: $color-white;
            font-size: 2rem;
        }

        & input::-webkit-input-placeholder {
            color: $color-gray;
        }

        & span {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            color: $color-gray;
            
            margin-bottom: 4px;
        }

        .custom-file {
            font-size: 2rem;

            input {
                outline: none !important;
                box-shadow: none !important;

                border-radius: 8px;
                padding: .5rem 1rem;
                box-shadow: none;
                
                &:focus {
                    box-shadow: none !important;
                    outline: none !important;
                }

                &:hover {
                    cursor: pointer;
                }
    
            }
            
            label {
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                }
    
            }
        }

        .error {
            text-align: right;
            width: 46%;
            top: 100%;
        }

        .success {
            top: 100%;
            width: 100%;
            text-align: right;
        }
    }

    &__bank {
        background-color: white;
        border-radius: 17px;
        padding: 3rem;
        padding-top: 1.2rem;
        margin-top: 1rem;
        @include boxShadow;
        width: 75%;


    }

    small {
        font-size: 1rem !important;
        margin-top: .5rem;
        color: $color-gray;
    }

}