// .fgpwd-outerbox {
//     height: calc(100vh - #{$navbar-height});
//     position: relative;
//     color: black;
//     min-height: 600px;

//     @include respond(big-desktop) {
//         min-height: 750px;
//     }
//     @include respond(phone) {
//         min-height: 400px;
//     }


// }
// .fgpwd-container {

//     @include absCenter;
//     transform: translate(-50%, -60%);

//     width: 50%;

//     @include respond(phone) {
//         width: 75%;
//     }

//     &__header {
//         font-size: $font-1;
//         margin-bottom: 3rem;

//         white-space: nowrap;
//     }

//     h5 &__header-2 {
//         font-size: $font-2;
//         font-weight: 400 !important;
//     }


//     &__inputs {
//         width: 100%;
//         margin: 6rem 0 5rem 0;
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         position: relative;

//         &__email {
//             padding: .5rem 0rem;
//             width: 60%;
//             font-size: $font-2;
//             background-color: $color-white;
//             border: none;
//             outline: none;
//             border-bottom: 1px solid black;

//             &:not(:last-child) {
//                 margin-bottom: 1.5rem;
//             }


//             @include respond(tab-port) {
//                 width: 100%;
//             }
//         }


//         .error {
//             top: 100%;
//             left: 20%;


//             @include respond(tab-port) {
//                 left: 0;
//             }
//         }
//     }

//     &__button-container {
//         width: 100%;
//         text-align: center;

//         & button {
//             width: 60%;
//             margin-bottom: 2rem;
//             font-size: $font-2;

//             @include respond(tab-port) {
//                 width: 100%;
//             }
//         }
//     }




// }

