.home__container {
    // height: calc(100vh - #{$navbar-height});

    &__header {
        background-color: $color-blue-light-trans;
        height: 30rem;


        &__content {
            position: relative;

            &__text {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                color: black;
                position: relative;
                z-index: 2;


                &__header {
                    font-size: 4.5rem;
                }

                &__descriptor {
                    font-size: 2rem;
                }

            }

            &__img {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 1;

                svg {
                    width: 25rem;
                    height: 15rem;
                }
            }

        }
    }



    &__notifications {
        min-height: 20%;
        color: black;



        &__title {
            font-size: $font-2;
            margin-bottom: 2rem;
            margin-top: 2rem;
            span {
                font-weight: 600;
            }
            font-weight: 500;
        }

        &__text {
            font-size: 1.5rem;
        }


        $mt-notification: 2.5rem;
        &__tutors, &__students {
            margin-top: $mt-notification;
            // margin-bottom: 2rem;
        }

        &__sessions {
            margin-top: $mt-notification;
            display: flex;
            flex-wrap: wrap;

            &.change-student {
                @media only screen and (max-width: 767px) { // 768px
                    padding-left: 0;
                    padding-right: 0;
                }
            }


            &.change-student {
                @media only screen and (max-width: 575px) { //576px
                    // padding-left: 0;
                    // padding-right: 0;

                    > div:first-child {
                        padding-left: 15px;
                        // padding-right: 5px;
                        padding-right: 15px;
                    }

                    > div:nth-child(2) {
                        // padding-left: 5px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            };


            @media only screen and (max-width: 26.875em) { //430px
                > div:first-child {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                > div:nth-child(2) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            };

            &-tutor {
                display: block;
                flex-wrap: nowrap;
            }
        }

        .recommended__tutors {

            font-size: 1.6rem;
            background-color: #ffffff;

            overflow: scroll;
            border-radius: 14px;
            @include boxShadow;

            tr {
                display: flex;
                padding: 1rem;

                * {
                    border: none;
                }

                & > :first-child {

                    display: flex;
                    align-items: center;
                }
                & > :nth-child(2) {
                    flex: 1;

                    > :first-child {
                        color: $color-gray;
                        font-size: 1.2rem;
                    }

                    > :nth-child(2) {
                        font-size: 1.5rem;
                    }

                    &:hover {
                        // TODO: clicking on the tutors should direct the user to view the tutor's profile
                        cursor: pointer;
                    }
                }


            }

            .bookmark {
                fill: $color-gray;
                width: 2rem;
                height: 2rem;
                &-marked {
                    // fill: none;
                    // stroke: black;
                    // stroke-width: 2;
                    fill: $color-bookmark;

                }
            }


        }

        // for tutor only
        &__calendar {
            width: 100%;
            min-height: 30rem;
            margin-top: 2rem;
            color: $color-gray;
            font-size: $font-1;
        }
    }


    &__help-center {
        margin-top: 5rem;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__text {
                color: black;
                font-size: $font-2;
                margin: 0;
                font-weight: 600 !important;
            }
            & button {
                font-size: 2rem;
            }
        }

        $font-size: 1.6rem;
        $margin: 2rem;

        .btn-search {
            margin-left: $margin;
            font-size: $font-size;
            border-radius: 8px;

            @media only screen and (max-width: 25em) { //400px
                margin-left: 0;
                width: fit-content;
            };
        }

        &__filter-container {
            display: flex;
            margin-top: .5rem;

            @media only screen and (max-width: 25em) { //400px
                // flex-direction: column;
            };




            .select-container {

                @media only screen and (max-width: 25em) { //400px
                    width: 22rem;
                };

            }

            .filter-post {
                outline: none;
                border-color: $color-gray;
                font-size: $font-size;
                padding-right: 2rem;
                border-radius: 10px;

            }


            .filter-post:first-child {
                width: fit-content;
                margin-right: $margin;

                @media only screen and (max-width: 25em) { //400px
                    margin-right: 0;
                    margin-bottom: .5rem;
                };
            }

            .filter-post:nth-child(2) {
                width: fit-content;
            }


        }

        &__table {
            margin-top: 2rem;
            font-size: 1.6rem;
            background-color: #ffffff;

            max-height: 50rem;


            &::-webkit-scrollbar {
                display: none;
            }

            padding: 0 1rem;

            border-radius: 2rem;
            @include boxShadow;

            display: block;
            overflow: scroll;

            tr:first-child {

                * {
                    border-top: none !important;
                }

            }

            & tr {
                height: 10rem;

            }

            // selects all direct child of tr
            tr > * {
                vertical-align: middle !important;
                white-space: nowrap;
            }
            // tr selects all direct children, and then :nth-child means itself is nth child
            tr > :nth-child(1) {
                white-space: nowrap;

                font-size: 1.6rem;

                @media only screen and (max-width: 31.25em) { //500px
                    white-space: normal;
                };

            }
            tr > :nth-child(2) {

                p {
                    margin-bottom: 0;
                    font-size: 1.2rem;
                    color: $color-gray;
                }

                span {
                    font-size: 1.5rem;
                    white-space: nowrap;
                }
            }

            tr > :nth-child(3) {
                font-size: 1.5rem;

                // max-height: 10rem;
                // height: 10rem;
                // overflow: scroll;
                // display: flex;
                // align-items: center;
            }

            .post-message {
                width: 99%;
                white-space: normal;
            }

            button {
                white-space: nowrap;

                @media only screen and (max-width: 31.25em) { //500px
                    white-space: normal;
                };
            }
        }
    }



}


// the following are for tutors only
.home__tutor-requests {
    margin-top: 10rem;
    min-height: 15rem;
    color: black;

    tr {
        &:hover {
            cursor: pointer;
        }
    }

    &__header {


        h5 {
            font-weight: 600 !important;
        }
    }
    &__content {
        font-size: 1.5rem;
    }
}

.tutor-requests-table {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: #ffffff;
    max-height: 50rem;
    border-radius: 14px;
    padding: 3rem;
    @include boxShadow;

    overflow: scroll;

    & tr {
        height: 10rem;

    }

    // selects all direct child of tr
    tr > * {
        vertical-align: middle !important;
        border: none !important;
    }
    // tr selects all direct children, and then :nth-child means itself is nth child
    tr > :nth-child(1) {
        white-space: nowrap;
    }

    // date can wrap
    tr > :nth-child(2) {
        // white-space: nowrap;
    }

    // td > :nth-child(1) {
    //     color: grey;
    //     font-size: 1.5rem;
    // }


    & td button {
        font-size: 1.6rem;
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}




// body {
//     position: relative;
//     background-color: red;

//     .add-post-container {
//         position: absolute;
//     }
// }



#background-cover {
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: rgba($color: #000000, $alpha: .63);






    #add-post-container {
        @include absCenter;

        border-radius: 10px;
        width: 50%;

        background-color: white;
        padding: 2rem 4rem;
        color: black;

        display: flex;
        flex-direction: column;

        textarea {
            display: block;
            font-size: 2rem;
            outline: none;
            width: 100%;
            margin-top: 2rem;
            border-radius: 10px;
            padding: 1rem 2rem;

            flex: 1;
        }

        .subject-course {
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: block;
        }

        .add-post-bottom {
            display: flex;

            * {
                font-size: 2rem;
            }

            select {
                margin-right: auto;
                width: 15rem;
                border-radius: 10px;
            }

            .btn-cancel {
                margin-right: 2rem;
            }
        }

    }

}
