.index {
    background-color: $color-grey-2;

    .btn--primary {
        background-color: $color-white;
        color: $color-purple-primary;
        border-radius: 3rem;
        height: 6rem;
        width: 50rem;
        font-weight: 500;

        &:hover {
            color: $color-purple-primary;
        }

    }
}

.index__top {
    height: 100vh;

    background-image: linear-gradient(to right bottom, rgba($color: $color-purple-primary, $alpha: .8), rgba($color: $color-purple-secondary, $alpha: .8)), url(../../../public/assets/hero.jpg);
    background-position: center;

    .logo {
        margin-left: 2rem;
        width: 40rem;
        animation: move-in-left 1s;
    }

    .btn--primary {
        margin-top: 6rem;
        animation: move-in-bottom .5s ease-out 1s backwards;
    }
}

.index__story {
    color: #555454;
    padding: 15rem 3rem;

    &__heading {
        margin-bottom: 3.5rem;
    }

    &__content {
        font-size: 2.2rem;
        line-height: 2;
        // column-count: 2;
        // column-gap: 2rem;
    }
}

.index__mission {
    // background-color: rgba($color: $color-yellow-primary, $alpha: .8);
    background-image: linear-gradient(to right bottom, rgba($color: $color-yellow-primary, $alpha: .8), rgba(255, 200, 0, 0.8));
    color: $color-white;

    &-container {
        flex: 0 0 45%;
        padding: 10rem;
        background-color: rgba(#747474, .4);

        @include respond(md) {
            flex: 1;
            background-color: rgba(#747474, .2);
        }
    }

    &__heading {
        margin-bottom: 3.5rem;
    }

    &__content {
        font-size: 2.2rem;
    }
}

.index__features {
    padding: 15rem 3rem;

    > :not(:last-child) {
        margin: 4rem 0;
    }

    $width: 30rem;
    .index__feature {
        display: flex;
        color: #555454;
        position: relative;

        .svg-bg {
            position: absolute;
            width: $width;
            transform: scale(1.2);
        }

        .svg-content {
            position: absolute;
            width: 20rem;
            bottom: 0;
        }

        &-container {
            position: relative;
            z-index: 100;
            padding: 3rem 0;
        }

        &__heading {
            margin-bottom: 3.5rem;
        }

        &__content {
            font-size: 2.2rem;
        }
    }

    .index__feature--1, .index__feature--3 {

        .index__feature-container {
            margin-left: $width;
        }
    }

    .index__feature--2 {
        .svg-content {
            position: absolute;
            width: 20rem;
            bottom: 0;
            right: 0;
        }

        .index__feature-container {
            margin-right: $width;
            padding-left: 5rem;
        }
    }


}
