// ================== Profile Nav ================
.profile-nav {
    width: 100%;
    & a {
        font-size: $font-2;
        color: black;
        flex: 25%;
        text-align: center;
        // margin-right: 7rem;

        &.active {
            border-bottom: 5px solid $color-blue-dark;
        }
    }

    height: unset !important;
}


// ================== About ==================
.about__container {
    color: black;
}

#profile-container {
    margin-top: 2rem;
    overflow: scroll;

    .search-card-container {
        margin-top: 0;
    }
}


$about-input-width: 70%;

.about__information {
    // background-color: red;
    height: 30rem;
    // margin-top: 3rem;
    display: flex;
    align-items: center;

    &__img {
        flex: 0 0 25%;
        height: 100%;
        display: flex;
        align-items: center;

        .img-container {
            width: 100%;
            padding: 2rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

    }

    &__content {
        flex: 0 0 75%;
        color: black;
        display: flex;
        flex-direction: column;

        & .descriptor {
            color: grey;
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }
        & .text {
            font-size: 2rem;
        }

        & .name {
            font-size: $font-2;
            font-weight: 500;
        }

        & .major-minor-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            line-height: 1;

            & span {
                flex: 50%;
                // height: 2rem;
            }

        }

        & .year-container {
            line-height: 1;

            & .descriptor {
                margin-top: 2rem;
                display: block;
            }
        }

        & a {
            display: inline-block;
            margin-top: 2rem;
            font-size: 2rem;
            width: 40%;
            margin-right: 9%;
        }

    }

    + div {
        margin-bottom: 5rem;
    }

}

.about__subjects__header,
.about__courses__header,
.about__characteristics__header {
    margin-top: 2rem;
    font-size: $font-2;
}

.about__subjects__header {
    margin-top: 0;
}

.about__content {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    & svg {
        position: absolute;
        left: 1rem;
        width: 2rem;
        height: 2rem;
        fill: grey;
        z-index: 100;
    }

    .add-btn {
        font-size: 2rem;
        position: absolute;
        left: calc(#{$about-input-width} + 1.5rem);
        width: fit-content;

        @media only screen and (max-width: 575px) { //576px
            left: calc(50% + 1.5rem);
        };
    }
}


.about__input {
    width: $about-input-width;
    font-size: 2rem;
    background-color: $color-white;
    border: .1rem solid grey;
    padding: .5rem 4rem;
    outline: none;
    border-radius: 7px;
    padding-right: 1rem;
    color: black;

    &:focus {
        border-color: $color-blue-dark;
        box-shadow: 1px 1px $color-blue-dark;
    }

    @media only screen and (max-width: 575px) { //576px
        width: 50%;
    };

}

.about__buttons__container {
    display: flex;
    flex-wrap: wrap;

    & button {
        border: 1px solid black;
        font-size: 2rem;
        // min-width: 40%;
        display: flex;
        align-items: center;
        // justify-content: center;
        margin-right: 10px;
        margin-top: 10px;
        & svg {
            margin-right: 0.75rem;
            width: 2rem;
            height: 2rem;
            position: relative;
            z-index: 100;
        }

        .name {
            color: black;
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            cursor: default;
        }

        svg:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }


}




$margin-top: 3rem;
// ======================= Sessions ================
.sessions__container {
    color: black;

    .sessions__container-1 {
        min-height: 35rem;
        margin-top: $margin-top;
    }
    .sessions__header {
        font-size: $font-2;

        &--sub {
            font-size: 2.2rem;
        }

    }

    .sessions__info {
        margin-top: 1rem;
    }

    .session__container {
        max-width: 50%;
    }
}



// ======================= Saved ===================
.saved__container {
    color: black;
    margin-top: $margin-top;

    .scroll-container {
        height: 70vh;
        overflow: scroll;
    }

    > :first-child {
        margin-bottom: 2rem;
    }
}








// ======================== Reviews ===================

.reviews__container {
    margin-top: $margin-top;
    color: black;

    & .reviews__header {
        font-size: $font-2;
    }

    & .reviews {
        font-size: 1.5rem;
        height: 70vh;
        overflow: scroll;

        > :first-child {
            margin-top: 0;
        }
    }

    img {
        margin-right: 0;
        width: 7rem;
        height: 7rem;
    }

    .name {
        white-space: nowrap;

        @media only screen and (max-width: 28.125em) {
            // 450px
            white-space: normal !important;
        }
    }
    .subject-container {
        text-align: center;
        * {
            white-space: nowrap;
        }
    }

    p {
        // margin-bottom: 0;
    }
}


.sessions__container,
.saved__container,
.reviews__container {
    display: none;
}



#background-cover {

    #write-review-container {
        @include absCenter;

        border-radius: 10px;
        width: 50%;

        background-color: white;
        padding: 2rem 4rem;
        color: black;

        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 1rem;
        }

        .info-container {

            .info-row {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                > * {
                    flex: 50%;
                }

                .descriptor {
                    color: $color-gray;
                }

                .text {
                    font-weight: 500;
                    font-size: $font-2;
                }
            }
        }

        .star-rating-container {
            width: 50%;
            margin-bottom: 1rem;

            .descriptor {
                color: $color-gray;
            }

            .star-container {
                display: flex;
                align-items: center;



                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                    fill: $color-blue-dark;
                    z-index: 1;
                    margin-right: .5rem;

                    &:hover {
                        cursor: pointer;
                    }
                }

            }
        }

        .review-content-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            textarea {
                display: block;
                font-size: 2.2rem;
                outline: none;
                width: 100%;
                margin-top: 1rem;
                border-radius: 10px;
                padding: 1rem 2rem;
                flex: 1;
            }
        }

        .btn-container {
            display: flex;
            justify-content: flex-end;

            * {
                font-size: 2rem;
            }

            .btn-cancel {
                margin-right: 2rem;
            }
        }

    }
}
