.body-signup {
    position: relative;
    height: 100vh;
}

.signup {
    display: flex;
    animation: fade-in-animation 1.5s;
    padding: 0 8rem;

    @include respond(lg-2) {
        padding: 0 14rem;
    }

    @include respond(lg) {
        padding: 0 8rem;
    }

    @include respond(sm) {
        padding: 0 3rem;
    }

    @include absCenter;

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .signup__heading {
        text-align: center;
    }

    &--left {
        .signup__heading {
            padding: 0 4rem;
            color: $color-white;
        }

        &__svg {
            width: 100%;
            position: relative;
            right: -5rem;
            bottom: 3rem;
            z-index: 2000;
        }

        &-student {
            background-color: rgba($color-blue-primary, .8);
        }

        &-tutor {
            background-color: rgba($color-purple-primary, .8);
        }

        @include respond(md) {
            display: none !important;
        }
    }

    &--right {
        flex: 1;
        box-shadow: 0px 1rem 10rem 0px rgba(0,0,0,0.25);
        background-color: $color-white-dark;

        .signup__heading {
            padding: 0 3rem;
            margin-top: 3.5rem;

            @include respond(md) {
                margin-top: 5rem;
            }
        }

        &-student {
            color: $color-blue-primary;

            .signup-form-input {
                border-color: $color-blue-primary;

                &-normal {
                    &:focus {
                        + svg {
                            fill: $color-blue-primary;
                        }
                    }
                }
            }

            // #btn-google .abcRioButtonBlue {
            //     background-color: $color-blue-primary;
            // }

            .input-group-prepend {
                background-color: $color-blue-primary;
            }

            .btn-next-animation {
                animation: anchor-animation-pulsate-student 3s infinite;
            }
        }

        &-tutor {
            color: $color-purple-primary;

            .signup-form-input {
                border-color: $color-purple-primary;

                &-normal {
                    &:focus {
                        + svg {
                            fill: $color-purple-primary;
                        }
                    }
                }
            }

            // #btn-google .abcRioButtonBlue {
            //     background-color: $color-purple-primary;
            // }

            .input-group-prepend {
                background-color: $color-purple-primary;
            }

            .btn-next-animation {
                animation: anchor-animation-pulsate-tutor 3s infinite;
            }
        }

        @include respond(md) {
            border-radius: 1.2rem;
        }

        @include respond(extra-sm) {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }


    $icon-size: 2.6rem;
    $icon-left-space: 1.2rem;

    form {
        padding: 3rem 7rem;

        > *:not(:first-child) {
            margin-top: 3.5rem;
        }

        hr {
            border: 1.5px solid;
            width: 8rem;
        }
    }

    // container that contains 2 inputs
    .form-group-2 {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 0 0 calc(50% - 1rem);
        }
    }

    .form-group-4 {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 0 0 calc(20%);
        }
    }

    &-form-input {
        outline: none;
        border: 3px solid;
        border-radius: 1.2rem;
        background-color: transparent;
        font-size: 2.2rem;

        &:focus {
            box-shadow: none;
            background-color: transparent;
        }

        &::placeholder {
            color: $color-grey;
        }

        // for inputs that have svg + text
        &-normal {
            height: 6.2rem;
            padding-left: 4.3rem;

            &:focus {
                &::placeholder {
                    visibility: hidden;
                }
            }

            @include respond(lg-2) {
                height: 5.5rem;
            }

            @include respond(md) {
                height: 5rem;
            }

            @include respond(extra-sm) {
                font-size: 2rem;
                height: 6rem;
                padding-left: 4rem;
            }
        }

        // for email verification
        &-email {
            text-align: center;

        }
    }

    // for tutor's register 3 page with school year and gpa in the same row
    .multiple-inputs {
        display: flex;

        > :first-child {
            margin-right: 2rem;
            flex: 0 0 60%;
        }

        > :last-child {
            flex: 1;
        }
    }

    // the container for selection input
    .select-container {
        overflow: hidden;
        border: 3px solid;
        border-radius: 1.2rem;
        min-height: 5.5rem;

        @include respond(lg-2) {
            min-height: 5rem;
        }

        @include respond(extra-sm) {
            min-height: 6rem;
        }

        &-icon {
            .select2-selection__rendered {
                margin-left: 1.5rem;
                margin-right: -1.5rem;
            }
        }

        &__icon {
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            left: .5rem;
            top: 48%;
            transform: translateY(-50%);
        }

        .input-group-prepend {
            width: 6rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;

            :first-child {
                // background-image: url('../../../public/assets/SVG/cross.svg');
                width: 6rem;
                height: 6rem;
                fill: $color-white;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .input-icon {
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        left: $icon-left-space;
        top: calc(50% - #{$icon-size} / 2);
        fill: $color-grey;
        transition: all .2s;
    }

    .signup-container-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn-next {
            position: relative;
            right: -2rem;
            width: 7rem;
            height: 7rem;

            @include respond(lg) {
                width: 5.5rem;
                height: 5.5rem;
            }

            @include respond(extra-sm) {
                width: 4.5rem;
                height: 4.5rem;
            }

            &__arrow {
                width: 4rem;
                height: 4rem;
                transform: translateX(.3rem);

                @include respond(lg) {
                    width: 3.2rem;
                    height: 3.2rem;
                }

                @include respond(extra-sm) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        #btn-skip {
            font-size: 2.2rem;
            text-decoration: underline;
            background-color: transparent;

            &:hover {
                cursor: pointer;
                animation: anchor-animation-pulsate 2s infinite;
            }
        }
    }

    .signup__notice {
        color: $color-grey;
        font-size: 2.2rem;
        text-align: center;
    }

    .resend-email {
        color: $color-grey;
        font-size: 2rem;
        text-align: center;

        button {
            font-size: inherit;
            padding: 0;
            vertical-align: baseline;
        }
    }

    #btn-google {
        transition: all .2s;
        &:hover {
            transform: translateY(-2px);
        }
    }

    .icon-upload-image {
        width: 25rem;
        height: 25rem;

        &:hover {
            cursor: pointer;

        }
    }
}

