.body-signup {
    position: relative;
    height: 100vh;
    // min-height: 750px;

    @include respond(md) {
        // min-height: 700px;
    }

    @include respond(extra-sm) {
        // min-height: unset;
    }
}

// .signup-animation {
//     transition: all 3s;
//     transform: translate(calc(-50% + 500vw), -50%) !important;
// }

.signup {
    display: flex;
    animation: fade-in-animation 1.5s;

    @include absCenter;

    // overwriting bootstrap container breakpoints
    @include respond(mb-13) {
        width: 900px;
    }
    @include respond(extra-sm) {
        width: 100%;
    }

    .signup__heading {
        text-align: center;
        margin-top: 5.5rem;

        @include respond(mb-13) {
            margin-top: 4rem;
        }
    }

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &--left {
        .signup__heading {
            padding: 0 7rem;

            @include respond(mb-13) {
                padding: 0 4rem;
            }
        }

        .signup__heading {
            color: $color-white;
        }

        &-student {
            background-color: rgba($color-blue-primary, .8);
        }

        @include respond(md) {
            display: none;
        }
    }

    &--right {
        flex: 1;
        box-shadow: 0px 1rem 10rem 0px rgba(0,0,0,0.25);
        background-color: $color-white-dark;

        &-student {
            color: $color-blue-secondary;

            .signup-form-input {
                border-color: $color-blue-secondary;

                &:focus {
                    border-color: $color-blue-secondary;
                }

                &-normal {
                    &:focus {
                        + svg {
                            fill: $color-blue-secondary;
                        }
                    }
                }
            }

            #btn-google-signup .abcRioButtonBlue {
                background-color: $color-blue-primary;
            }
        }

        .signup__heading {
            padding: 0 3rem;
        }

        @include respond(md) {
            border-radius: 1.2rem;
        }

        @include respond(extra-sm) {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }


    $icon-size: 2.6rem;
    $icon-left-space: 1.2rem;

    form {
        padding: 3rem 7rem;

        > *:not(:first-child) {
            margin-top: 4rem;
        }

        hr {
            border: 1.5px solid;
            width: 8rem;
        }
    }

    // container that contains 2 inputs
    .form-group-2 {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 0 0 calc(50% - 1rem);
        }
    }

    .form-group-4 {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 0 0 calc(25% - 1rem);
        }
    }

    &-form-input {
        outline: none;
        border: 3px solid;
        border-radius: 1.2rem;
        background-color: transparent;
        font-size: 2.4rem;

        &:focus {
            box-shadow: none;
            background-color: transparent;
        }

        &::placeholder {
            color: $color-grey;
        }

        // for inputs that have svg + text
        &-normal {
            height: 6.2rem;
            padding-left: 4.3rem;

            &:focus {
                &::placeholder {
                    visibility: hidden;
                }
            }

            @include respond(extra-sm) {
                font-size: 2rem;
                padding-left: 4rem;
            }
        }

        // for email verification
        &-email {
            text-align: center;
            height: 8.5rem;

            @include respond(lg) {
                height: 7rem;
            }
        }
    }

    // the container for selection input
    .select-container {
        overflow: hidden;
        border: 3px solid;
        border-radius: 1.2rem;
        height: 6.2rem;

        .input-group-prepend {
            width: 6rem;
            background-color: $color-blue-secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;

            :first-child {
                // background-image: url('../../../public/assets/SVG/cross.svg');
                width: 6rem;
                height: 6rem;
                fill: $color-white;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .input-icon {
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        left: $icon-left-space;
        top: calc(50% - #{$icon-size} / 2);
        fill: $color-grey;
    }

    .signup-container-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn-next {
            position: relative;
            right: -2rem;
            width: 7.5rem;
            height: 7.5rem;

            @include respond(extra-sm) {
                width: 6rem;
                height: 6rem;
            }

            &__arrow {
                width: 4rem;
                height: 4rem;
                transform: translateX(.3rem);

                @include respond(extra-sm) {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        #btn-skip {
            font-size: 2.4rem;
            color: $color-blue-tertiary;
            text-decoration: underline;
            background-color: transparent;

            &:hover {
                cursor: pointer;
                animation: anchor-animation-pulsate 2s infinite;
            }
        }
    }

    .signup__notice {
        color: $color-grey;
        font-size: 2.4rem;
        text-align: center;
    }

    .resend-email {
        color: $color-grey;
        font-size: 2rem;
        text-align: center;

        button {
            font-size: inherit;
            padding: 0;
            vertical-align: baseline;
        }
    }
}


