.report-container {
    // height: calc(100vh - #{$nav-height});
    &__header {
        margin-top: 3rem;
        font-size: $font-2;
    }

    & .labels {
        font-size: 1.5rem;
        color: grey;
        margin-bottom: 0;
        margin-top: 3rem;
    }


    .report-reason__select {
        flex: unset !important;
        width: fit-content !important;


        font-size: 2rem;
        &:focus {

            box-shadow: none;
        }
        & option {
            font-size: $font-2;
        }
    }

}

.report-buttons {
    margin-top: 1.5rem;
    text-align: right;
    margin-bottom: 3rem;
    & button, & a {
        font-size: $font-2;
    }

    & :first-child {
        margin-right: 1rem;
    }
}

.report-textarea {
    font-size: 2rem !important;
    // height: 30rem !important;
    border-radius: 1rem;
    padding: 1rem 2rem;
}


