// .search-container {
//     margin-top: 3rem;

//     .search__header {
//         color: black;
//     }

//     .search__box {
//         margin-top: 2rem;
//         border: 1px solid $color-gray;
//         font-size: $font-2;
//         display: flex;
//         align-items: center;
//         border-radius: 8px;
//         width: 75%;


//         svg {
//             width: 3.2rem;
//             height: 3.2rem;
//             fill: $color-gray;
//             margin-left: 1rem;
//             margin-right: 1rem;
//         }

//         input {
//             border: none;
//             outline: none;
//             background-color: inherit;
//             padding: 5px 0;
//             width: 40rem;
//         }

//     }



//     .filters-label {
//         margin-top: 1.5rem;
//         font-size: 1.6rem;
//     }

//     .year, .price {
//         font-size: $font-3;
//         font-weight: 400;
//         margin-bottom: 2rem;
//         color: $color-gray;
//     }


//     .bold {
//         font-weight: 500;
//     }

//     .filter-container {
//         display: flex;
//         margin-top: .5rem;
//         color: black;


//         .filter-box {
//             position: relative;

//             .filter {
//                 position: absolute;
//                 left: 0;
//                 top: 4rem;
//                 z-index: 2000;
//                 background-color: white;
//                 @include boxShadow;
//                 border-radius: 2rem;
//                 padding: 1rem 2rem;

//                 display: none;



//                 .filter-year {
//                     display: flex;
//                     align-items: center;
//                     font-size: 1.5rem;
//                     margin-bottom: 1rem;

//                     input {
//                         margin: 0;
//                         align-self: center;
//                         width: 1.5rem !important;
//                         height: 1.5rem !important;
//                     }
//                     label {
//                         margin-left: 2rem;
//                     }
//                 }


//                 .button-container {
//                     display: flex;
//                     justify-content: space-between;
//                     margin-top: 1rem;


//                     button {

//                     }
//                 }

//                 label {
//                     font-size: 1.5rem;
//                 }

//                 input.price-range {

//                 }


//             }




//         }
//         button {
//             padding: .5rem 2rem;

//         }

//         button:not(:last-child) {
//             margin-right: 1rem;
//         }
//     }


// }

