.signup {
    display: flex;
    @include absCenter;

    &--left {
        // flex: 0 0 40rem;
        background-color: $color-blue-primary;

        .signup__heading {
            color: $color-white;
            margin-top: 5rem;
            padding: 0 6rem;
            white-space: nowrap;
            font-family: 'Baloo Bhai 2', cursive;
        }
    }

    &--right {
        width: 50rem;
        background-color: $color-white-dark;

        .signup__heading {
            color: $color-blue-secondary;
            margin-top: 3rem;
            text-align: center;
            white-space: nowrap;
            font-family: 'Baloo Bhai 2', cursive;
        }
    }


    $icon-size: 2.5rem;
    $icon-left-space: .8rem;

    form {
        padding: 0 5rem;
        margin-top: 3.5rem;

        > * {
            margin-top: 3rem;
        }

        hr {
            border: 1px solid $color-blue-secondary;
            width: 8rem;
        }

        padding-bottom: 3rem;
    }

    &-form-input {
        font-family: Avenir;
        outline: none;
        border: 2px solid $color-blue-secondary;
        font-size: 2rem;
        padding-left: 4rem;
        color: $color-blue-secondary;
        border-radius: .8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:focus {
            box-shadow: none;
            border-color: $color-blue-primary;

            + svg {
                fill: $color-blue-secondary;
            }
        }
    }


    .input-icon {
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        left: $icon-left-space;
        top: calc(50% - #{$icon-size} / 2);
        fill: $color-grey;
    }

    .next-button-container {
        text-align: right;

        .button--next {
            right: -3rem;
        }
    }


}
