.edit-availability-container {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#calendar {
    font-size: 1.2rem;
    margin-top: 1.5rem;

    text-align: center;

    h2 {
        font-size: 2.2rem !important;
    }

    button {
        background-color: rgb(151, 210, 251) !important;
        border-color: rgb(151, 210, 251) !important;
        color: black !important;
    }

    * {
        white-space: unset !important;
    }

    button.fc-next-button, button.fc-prev-button {

        // background-color: transparent !important;
        // transform: scale(1.5);
        // border-color: transparent !important;
        // outline: none;

        // &:hover {
        //     cursor: pointer;
        // }

        // &:focus {
        //     outline: none !important;
        // }

        // *:focus {
        //     outline: none !important;
        // }
    }

    button.fc-timeGridDay-button, button.fc-timeGridWeek-button {
        border-color: $color-blue-dark !important;
        color: $color-blue-dark !important;
        background-color: transparent !important;

        &:hover {
            border-color: $color-blue-dark !important;
            color: white !important;
            background-color: $color-blue-dark !important;
        }
    }

    .fc-center {
        flex: 1 !important;
    }

    button {
        border-radius: .5rem !important;
    }
}

th.fc-widget-header:not(.fc-axis) {
    padding: .5rem 1rem !important;
}

.fc-ltr .fc-axis {
    text-align: center !important;
}


.fc-today {
    // background: #FFF !important;
}


.fc-time-grid .fc-event {
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 1.6rem;
}

.fc-view-container {
    background-color: white;
}

.fc-content {
    font-size: 1.4rem !important;
}



// don't set the size on the container. let the content fill the div
#background-cover-3 {

    #confirm-time-container {
        @include absCenter;

        border-radius: 1rem;
        width: 70% !important;
        background-color: white;
        color: black;
        padding: 2rem 4rem;

        display: flex;
        flex-direction: column;



        .bottom-container {

            display: flex;
            justify-content: flex-end;

            button {
                font-size: 1.6rem;

            }
        }

    }

    .info-container {

        .info-row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            > * {
                flex: 50%;
            }

            .descriptor {
                color: $color-gray;
            }

            .text {
                font-weight: 500;
                font-size: $font-2;
            }

            select {
                font-size: 1.4rem;

            }

        }
    }


    .message-content-container {
        margin-bottom: 1rem;

        textarea {
            width: 100%;
            margin-top: .5rem;
            font-size: 1.6rem;
            padding: .5rem 1rem;
            border-radius: 1rem;
            outline: none;
        }
    }

}


#calendar .fc-cancelButton-button.fc-button.fc-button-primary {
    margin-left: 1rem !important;
}
