.view-tutor-session__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    #report-button {
        font-size: 1.5rem;
    }
}

// used by several pages
.session-details-container {
    margin-top: 2rem;
    width: 50%;


    .session-details {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > * {
            flex: 0 0 50%;
        }

        h5 {
            font-size: 2rem !important;
            margin-bottom: .5rem;
        }

        select {
            background-color: transparent;
            font-size: 2.2rem !important;
            font-weight: 400 !important;

        }

    }
}


// used by several pages
.session-timer-container {
    margin-top: 3rem;

    h5 {
        font-size: 2rem !important;
    }

    .session-timer {
        width: 70%;
        display: flex;
        margin: 5rem auto;

        background-color: white;
        @include boxShadow;
        border-radius: 1rem;

        min-height: 15rem;

        .session-timer-left {
            // background-color: green;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            button {
                margin-top: .5rem;
                margin-bottom: .5rem;
                font-size: 1.6rem;
            }

        }

        .session-timer-right {
            font-size: 7.5rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}


.notes-for-student {


    textarea {
        font-size: 2rem !important;
        height: 30rem !important;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }

    &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;

        button:last-child {
            margin-left: 1rem;

        }
        button {
            font-size: 2rem;
            margin-bottom: 5rem;
        }
    }
}

.session-after-container {
    display: flex;


    .session-duration {
        margin-top: 2rem;
        margin-left: 5rem;

        .duration {
            text-align: center;
            font-size: 3rem;
            font-weight: 600;
            padding: 1rem 2rem;
            background-color: white;
            border-radius: 1rem;
            @include boxShadow;
        }
    }
}


.total-fee-container {
    margin-top: 3rem;



    .calculation {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        flex-wrap: wrap;

        .results {
            font-weight: 700;
        }

        +div {
            width: 50%;
            margin-top: 1rem;
            text-align: right;
        }
    }

}

.session-notes-header {
    margin-top: 3rem;
}

.session-notes-container {
    margin-top: 1rem;
    font-size: 2rem;
    height: 20rem;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.session-review-header {
    margin-top: 3rem;
}

.session-post-review-container {
    margin-top: 1rem;
    margin-bottom: 5rem;
    textarea {
        font-size: 2rem !important;
        height: 30rem !important;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: transparent;

        +div {
            margin-top: 1rem;
            text-align: right;
        }
    }

}


.share-notes-tutor {
    font-size: 2rem !important;
    height: 30rem !important;
    padding: 1rem 2rem;
    border-radius: 1rem !important;
    background-color: transparent !important;

    +div {
        margin-top: 1rem;
        text-align: right;

        button:first-child {
            margin-left: 1rem;
        }
    }
}
