.view-profile {
    margin-top: $nav-height;
    color: $color-black-2;
    margin-bottom: 5rem;

    .btn-back {
        margin-top: 1.5rem;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1rem;

        svg {
            font-size: 1.3rem;
        }

        span {
            margin-left: 1.2rem;
            font-size: 1.6rem;
        }
    }

    .view-profile--left {
        background-color: $color-white-dark-5;
        border-radius: 1rem;
        overflow: hidden;
        height: fit-content;

        .view-profile__user-info {
            padding: 1.75rem 1rem 0rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            > * {
                margin-bottom: 1rem;
            }

            .user-img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;

                @include respond(md) {
                    width: 8rem;
                    height: 8rem;
                }
            }

            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
            }

            .rating-container {
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: .4rem;
                    position: relative;
                    bottom: .2rem;

                    @include respond(md) {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: .3rem;
                    }

                    &.full {
                        fill: $color-yellow-primary;
                    }

                    &.empty {
                        fill: $color-grey;
                    }
                }

                .rating {
                    font-size: 1.4rem;
                    margin-left: .5rem;

                    @include respond(md) {
                        font-size: 1.2rem;
                    }
                }
            }

            .detail-info {
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                max-width: 100%;
                flex-wrap: wrap;
            }

            .tutor-level {
                font-size: 1.4rem;
            }

            .intro-toggle {
                display: flex;
                align-items: center;

                span {
                    margin-right: .8rem;
                    font-size: 1.4rem;
                }

                svg {
                    cursor: pointer;
                }

                .hover-animation--before {
                    transition: transform .1s;
                    transform: rotate(180deg);
                }

                .hover-animation--after {
                    transition: transform .1s;
                    transform: rotate(-180deg);
                }
            }

            .button-container {
                min-width: 16rem;

                button, a {
                    width: 100%;
                    padding: .75rem 1.5rem;
                    display: block;
                }
            }


            .section {
                margin-bottom: 0;
                width: calc(100% + 15px * 2 + 1rem * 2);

                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: $color-black-2;
                    font-size: 1.4rem;
                    padding: 1.25rem;
                }

                .heading {
                    font-size: 1.4rem;
                    padding: 1.25rem;
                    margin-bottom: 0;
                    text-align: center;
                }

                .statistics-container {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;


                    .statistics {
                        display: grid;
                        grid-template-rows: 2;

                        &:not(:last-child) {
                            margin-right: 2.5rem;
                        }

                        .number {
                            font-size: 2.4rem;
                            font-weight: bolder;
                            text-align: center;
                        }

                        .classifier {
                            color: $color-grey;
                            font-size: 1.4rem;
                            position: relative;
                            bottom: .65rem;
                        }
                    }
                }
            }

            .tutor-sessions {
                margin-top: 2rem;
                border-bottom: 5px solid $color-white-dark-4;
                border-top: 5px solid $color-white-dark-4;
                padding-bottom: .5rem;

                .courses {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 20rem;
                    margin: 0 auto;
                    grid-gap: 1rem 1rem;

                    .course {
                        padding: .3rem .5rem;
                        display: inline-flex;
                        align-items: center;
                        border-radius: .5rem;
                        font-size: 1.2rem;

                        width: 9rem;
                        justify-content: center;
                    }
                }
            }

            .forum-activities {
                margin-bottom: 2rem;
            }

        }
    }

    .view-profile--right {

        .filter {
            background-color: $color-white-dark-5;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 1.6rem 3rem;

            select {
                font-size: 1.6rem;
                border: none;
                outline: none;
                background-color: transparent;
                text-align-last: right;
                padding: 0 1rem 0 0;

                option {
                    direction: rtl;
                }
            }
        }

        .post-previews {

            .post-preview {

            }

            .no-posts {
                padding: 0 3rem;
            }
        }

        .calendar-container {
            background-color: $color-white-dark-5;
            padding: 2rem 3rem 4.5rem 3rem;
            border-radius: 1rem;

            .heading {
                display: flex;
                justify-content: space-between;

                .hourly-rate {

                }
            }

            #calendar {
                margin-top: 1.5rem;
            }
        }

        .reviews {
            background-color: $color-white-dark-5;
            padding: 2rem 3rem;
            border-radius: 1rem;
            margin-top: 3rem;

            .heading {

            }

            .info-boxes {
                max-height: 25rem;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar {
                    display: none;
                }

                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */


                > * {
                    margin-top: 0;
                }

                .info-box {
                    padding: 2rem 0;
                    border: none;

                    box-shadow: none;
                    border-bottom: 1px solid rgba($color-grey, .15);
                    margin-bottom: 0;
                    border-radius: 0;
                }
            }
        }

    }

}


.bg-student {

    .view-profile .view-profile--left .section {
        a.active {
            color: $color-white;
            background-color: $color-blue-primary;

            &:hover {
                background-color: $color-blue-primary-2;
            }
        }

        a.inactive {

            &:hover {
                color: $color-white;
                background-color: $color-blue-primary-2;
            }
        }
    }
}


.bg-tutor {

    .view-profile .view-profile--left .section {
        a.active {
            color: $color-white;
            background-color: $color-purple-primary;

            &:hover {
                background-color: $color-purple-primary-2;
            }
        }

        a.inactive {

            &:hover {
                color: $color-white;
                background-color: $color-purple-primary-2;
            }
        }
    }
}
