.yellow-triangle {
    position: absolute;
    z-index: -1;

    svg {
        transform-origin: top left;
        overflow: visible;
        animation: bg-shape-animation-1 12s infinite;
        animation-timing-function: linear;
    }
}

.purple-circle {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 5rem;


    svg {
        transform-origin: bottom;
        animation: bg-shape-animation-2 8s infinite;
    }
}

