.bg-shape-triangle {
    position: absolute;
    z-index: -1;

    svg {
        transform-origin: top left;
        overflow: visible;
        animation: bg-shape-animation-1 12s infinite;
        animation-timing-function: linear;

        @include respond(md) {
            animation: bg-shape-animation-1-md 8s infinite;
        }

        @include respond(extra-sm) {
            animation: bg-shape-animation-1-extra-sm 12s infinite;
        }
    }
}

.bg-shape-circle {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 5rem;

    svg {
        transform-origin: bottom;
        animation: bg-shape-animation-2 8s infinite;

        @include respond(md) {
            animation: bg-shape-animation-2-md 8s infinite;
        }


        @include respond(extra-sm) {
            animation: bg-shape-animation-2-extra-sm 8s infinite;
        }
    }
}

