.button--next {
    position: relative;
    width: 5.5rem;
    height: 5.5rem;
    background-color: $color-blue-primary;
    border-radius: 50%;

    .next {
        @include absCenter;
        width: 3rem;

    }
}
