// button-next is usually used with button-next-animation
.button-next {
    background-color: $color-blue-primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-animation {
        &:hover {
            background-color: $color-blue-secondary;
            cursor: pointer;

            .arrow-next {
                animation: button-animation-1 1.5s infinite;
            }
        }
    }
}

