#calendar {
    .my-available-time {
        width: 100%;
        background-color: $color-calendar-time-available !important;
        border-color: $color-calendar-time-available !important;
    }

    .inperson-session {
        width: 100%;
        background-color: $color-calendar-inpseron !important;
        border-color: $color-calendar-inpseron !important;
    }

}

.inperson-session {
        width: 100%;
        background-color: $color-calendar-inpseron !important;
        border-color: $color-calendar-inpseron !important;
    }

.fc .fc-timegrid-col-events {
    margin-right: 0;
    margin-left: 0;
}


// change background color of today
.fc .fc-timegrid-col.fc-day-today {
    /* background-color: rgba(255, 220, 40, 0.15); */
    /* background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15)); */
}

.fc-v-event .fc-event-main-frame {
    justify-content: center;
    align-items: center;
}

.fc-v-event .fc-event-title-container {
    flex-grow: 0;
}


.fc-timegrid-event .fc-event-time {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
