#calendar {
    .fc-toolbar-title {
        font-size: 2.2rem !important;
    }

    th {
        font-size: 1.4rem !important;
    }

    button {
        font-size: 1.4rem;
    }

    td {
        font-size: 1.2rem;
    }
}
