#calendar {

    .my-available-time {
        width: 100%;
        background-color: $color-calendar-time-available !important;
        border-color: $color-calendar-time-available !important;
    }

    .inperson-session {
        width: 100%;
        background-color: $color-calendar-inperson !important;
        border-color: $color-calendar-inperson !important;
        z-index: 100 !important;
    }

    .online-session {
        width: 100%;
        background-color: $color-calendar-online !important;
        border-color: $color-calendar-online !important;
        z-index: 100 !important;
    }

    .fc-toolbar-chunk:last-child {
        .btn-primary {
            background-color: $color-grey-3;
            color: $color-black !important;
            border: none !important;
            text-transform: uppercase;
            padding: .6rem 1.3rem !important;
            padding-bottom: .4rem !important;
            font-size: 1.2rem !important;
            box-shadow: none !important;

            &:disabled {
                cursor: not-allowed;
            }

            &.active {
                background-color: $color-purple-primary !important;
                color: $color-white !important;
            }

        }
    }

    button:disabled {
        cursor: not-allowed;
    }


}


.calendar-note {
    font-size: 1.5rem;
    margin-top: 2.2rem;
    text-align: right;
    position: relative;

    span {
        position: relative;

        &:not(:nth-last-child(2)) {
            margin-right: 7rem;
        }
    }

    span::before {
        content: "";
        display: inline-block;
        width: 5.5rem;
        height: 100%;
        position: absolute;
        right: calc(100% + .7rem);
    }

    .online::before {
        background-color: $color-calendar-online;
    }

    .in-person::before {
        background-color: $color-calendar-inperson;
    }

    .available-time::before {
        background-color: $color-calendar-time-available;
    }

    .note {
        position: absolute;
        top: 100%;
        right: 0;
        margin-right: 0 !important;
        margin-top: .5rem;
    }
}

.fc-timegrid-slots {
    tr {
        height: 2.3rem;
        font-size: 1.5rem;
    }
}

.fc-col-header {
    font-size: 1.65rem !important;

    .fc-col-header-cell-cushion {
        padding: 3px 4px;
    }
}

.fc-view-harness {
    max-height: 63rem;
    overflow: scroll;
}

.fc .fc-timegrid-col-events {
    margin-right: 0;
    margin-left: 0;
}


// change background color of today
.fc .fc-timegrid-col.fc-day-today {
    /* background-color: rgba(255, 220, 40, 0.15); */
    /* background-color: var(--fc-today-bg-color, rgba(255, 220, 40, 0.15)); */
    background-color: transparent !important;
}

.fc-v-event .fc-event-main-frame {
    justify-content: center;
    align-items: center;
}

.fc-v-event .fc-event-title-container {
    flex-grow: 0;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
}



// center the "title" text in the event
.fc-timegrid-event .fc-event-time {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

// make overlap events always occupy 100% of the
.fc-media-screen .fc-timegrid-event-harness {
    margin-right: 0 !important;
    margin-left: 0 !important;
    left: 0 !important;
    z-index: unset !important;
}


// tool bar
.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

.fc-next-button, .fc-prev-button {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 1.4rem !important;
    line-height: 1 !important;
    color: $color-black !important;
    box-shadow: none !important;
}

.fc-next-button, .fc-toolbar-title {
    margin-left: .8rem !important;
}

.fc-toolbar-title {
    font-size: 2.2rem !important;
}


.fc-col-header  {
    background-color: #FBFBFB;
}

