.info-boxes {
    width: 100%;

    &--sm-card {
        @include respond(sm) {
            display: flex;
            flex-wrap: wrap;

            > div {
                max-width: calc(50% - 1rem);
                flex: 0 1 calc(50% - 1rem);

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

        @include respond(extra-sm) {
            > div {
                max-width: calc(33% - 1rem);
                flex: 0 1 calc(33% - 1rem);
            }
        }

        // 450px
        @media only screen and (max-width: 28.125em) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 2rem;

            > div {
                max-width: unset;
                flex: unset;
            }
        }
    }



    > * {
        margin-top: 1.5rem;

        &:last-child {
            margin-bottom: .5rem;
        }
    }



    button {
        max-width: 7rem;
        line-height: 1.4;
    }

    .info-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        background-color: $color-white-dark-5;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: $color-black-2;
        box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);

        @include respond(sm) {
            flex-wrap: wrap;
            padding: 1rem 1.5rem;

            > div:not(:first-child) {
                width: 100% !important;
                margin-top: .5rem;
            }
        }

        .flex-100 {
            display: none;
            @include respond(sm) {
                display: block;
            }
        }

        > div:not(:last-child) {
            margin-right: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @include respond(lg-2) {
                margin-right: .5rem;
            }
        }

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1rem;
            object-fit: cover;

            @include respond(sm) {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: .5rem;
                margin-bottom: .5rem;
            }
        }

        .notification-content {
            flex: 1;
            margin-right: 2rem !important;
            white-space: normal !important;

            @include respond(extra-sm) {
                font-size: 1.6rem;
            }

        }


        &__year {
            @include respond(md) {
                display: none;
            }

            @include respond(sm) {
                display: inline;
            }
        }

        &__time-stamp {
            margin-left: 2rem;
            font-style: italic;
            color: $color-grey;
            display: none;

            @media only screen and (max-width: 85.624em) {
                display: inline;
            }
        }


        .content {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: inherit;
            font-weight: 500;
        }

        .title {
            font-size: 1.3rem;
            color: $color-grey;
            display: block;
        }

        .user-info {
            display: flex;
            align-items: center;
            max-width: 20rem;
            min-width: 17rem;
        }

        .date {
            width: 13ch;

            @include respond(md) {
                width: 11ch;
            }
        }

        .time {
            width: 12ch;
        }

        .course, .status {
            width: 12ch;
        }

        .session-type {
            width: 8ch;
        }

        .price {
            width: 7ch;
            color: $color-purple-primary;
        }

        .status {
            .approved {
                color: $color-blue-primary;
            }

            .completed {
                color: $color-purple-primary;
            }

            .declined {
                color: #C70000;
            }

            .pending {
                color: $color-yellow-primary;
            }
        }

        .actions {
            display: flex;
            width: 21ch;
            justify-content: space-between;
            align-items: center;

            @include respond(md) {
                width: 12ch;
                flex-wrap: wrap;
                justify-content: center;

                .btn:last-child {
                    margin-top: .5rem;
                }
            }

            @include respond(sm) {
                flex-wrap: nowrap;
                justify-content: flex-end;
            }

            .btn {
                width: 12ch;
                margin-right: .75rem;

                @include respond(md) {
                    margin-right: 0;
                }

                @include respond(sm) {
                    margin-top: .5rem;
                    width: 9ch;

                    &:last-child {
                        margin-left: .5rem;
                    }
                }
            }

        }

        .action {
            display: flex;
            justify-content: flex-end;
            min-width: 6rem;

            button {
                width: 100%;
            }
        }

        .action--toggle {
            color: $color-purple-primary;
            width: 5rem;
            display: flex;
            justify-content: center;

            svg {
                cursor: pointer;
            }
        }

        .review {
            flex: 1;
            white-space: normal !important;
        }

        .rating {
            width: 15rem;

            @include respond(sm) {
                text-align: end;
                margin-right: 0 !important;
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: .2rem;

                @include respond(md) {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .1rem;
                }

                &.full {
                    fill: $color-yellow-primary;
                }

                &.empty {
                    fill: $color-black-2;
                }
            }
        }

        .time-ago {
            width: 10rem;

            @include respond(sm) {
                text-align: end;
            }
        }


        &--explanation {
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
            box-shadow: none;

            font-weight: 800;
            font-size: 1.4rem;

            * {
                color: $color-grey !important;
            }

            @include respond(sm) {
                display: none;
            }
        }

    }



}


// .bg-tutor {
//     .info-box--explanation {
//         .status .pending {

//         }
//     }
// }

