.info-cards {

    @include respond(md) {
        margin-top: 5rem;;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .info-card {
        border-radius: 1rem;
        padding: 1.25rem 1.75rem;
        background-color: $color-white-dark-5;
        box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);

        @include respond(md) {
            flex: 0 0 calc(50% - 1rem);
            width: calc(50% - 1rem);
        }

        @include respond(sm) {
            padding: 1rem 1.5rem;
            flex: 0 0 calc(50% - .5rem);
            width: calc(50% - .5rem);
            font-size: 1rem;
        }

        &:not(:first-child) {
            margin-top: 1.3rem;

            @include respond(md) {
                margin-top: 1.6rem;
            }
        }

        .user-name {
            font-weight: 600;
            font-size: 1.5rem;
            max-width: calc(100% - 5rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;

            @include respond(sm) {
                font-size: 1.3rem;
            }
        }

        .action-toggle {
            font-size: 2.4rem;
            color: $color-purple-primary;
            cursor: pointer;

            @include respond(sm) {
                font-size: 2rem;
            }
        }

        &__row {
            margin-top: .5rem;
            font-size: 1.4rem;
            display: flex;
            overflow: hidden;

            @include respond(extra-sm) {
                font-size: 1rem;
                margin-top: .3rem;
            }


            .title {
                display: block;
                line-height: 1;
            }

            .content {
                font-weight: 500;
                white-space: nowrap;
            }

            .row-left {
                flex: 0 0 65%;
            }

            .row-right {
                flex: 1;
            }

            .btn-view {
                font-size: 1.2rem;
                flex: 1;
                align-self: flex-end;

                @include respond(sm) {
                    font-size: 1rem;
                }
            }

            .btn-view-session {
                &::after {
                    content: ' Session';

                    @include respond(lg) {
                        display: none;
                    }
                }
            }
        }


    }

}
