.menu-bar {
    max-width: 25rem;
    position: fixed;
    width: 100%;
    margin-left: -15px;
    height: 100%;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

    @include respond(lg) {
        max-width: 22rem;
    }

    @include respond(md) {
        max-width: 18rem;
    }

    @include respond(sm) {
        max-width: 15rem;
        font-size: 1.4rem;
    }

    @include respond(extra-sm) {
        display: none;
    }

    &__lists {
        list-style: none;
        margin-top: 15rem;

        li.active {
            background-color: white;
        }

        a {
            text-decoration: none;
            color: unset;
            display: block;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.8rem 3.5rem;

            @include respond(md) {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-left: 1.8rem;
                padding-right: 0;

                svg {
                    display: none;
                }
            }

            &:hover {
                background-color: white;

                svg {
                    animation: button-animation-1 1.5s infinite;
                }
            }
        }
    }
}

.bg-student {
    .menu-bar {
        background-color: rgba(#371CA3, .8);

        &__lists {
            li.active {
                color: $color-blue-primary;
            }

            a {
                &:hover {
                    color: $color-blue-primary;
                }
            }
        }
    }
}

.bg-tutor {
    .menu-bar {
        background-color: rgba(#371CA3, .8);

        &__lists {
            li.active {
                color: $color-purple-primary;
            }

            a {
                &:hover {
                    color: $color-purple-primary;
                }
            }
        }
    }
}
