.modal {

    .modal-content {
        padding: 1rem 2rem;
    }

    .modal-dialog {
        @include respond(extra-sm) {
            max-width: 80%;
            margin: auto;
        }
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-body {
        font-size: 1.6rem;
    }

    .form-check {

        display: flex;
        align-items: center;

        .form-check-input {
            margin-top: 0;
        }
        &:not(:first-child) {
            margin: 2rem 0;
        }

        .form-check-label {
            font-size: 1.8rem;
            color: $color-black-post;
            margin-left: 1rem;
        }
    }

    button {
        font-size: 1.6rem;
    }

    .btn-submit {
        color: $color-white-dark-5;
    }

    .btn-delete {
        color: $color-white-dark-5;
        background-color: $color-danger;
    }

    // switch account
    &-switch-account {


        .svg--top {
            width: 10rem;
            height: 10rem;
        }
    }

    // verify tutor
    &-verify-tutor {
        #upload-file {
            height: 150px;
            border: 2px dashed rgba(0,0,0,.3);
            border-radius: 20px;
        }

        #upload-file-button input {
            opacity: 0;
            position: absolute;
        }

        #upload-file-button {
            border-radius: 15px;
        }
 	}

    &-book-session {
        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }


        .calendar-details {

        }
    }

}


.bg-student {

    .btn-submit {
        background-color: $color-blue-primary;
    }
}


.bg-tutor {

    .btn-submit {
        background-color: $color-purple-primary;
    }
}
