.modal {
    z-index: 9999;

    .modal-content {
        border-radius: 1rem;
        padding: 1rem 2rem;
    }

    .modal-dialog {
        @include respond(extra-sm) {
            max-width: 80%;
            margin: auto;
        }
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-body {
        font-size: 1.6rem;
    }

    .form-check {

        display: flex;
        align-items: center;

        .form-check-input {
            margin-top: 0;
        }

        &:not(:first-child) {
            margin: 2rem 0;
        }

        .form-check-label {
            font-size: 1.8rem;
            color: $color-black-post;
            margin-left: 1rem;
        }
    }

    button {
        font-size: 1.6rem;
    }

    .btn-submit {
        color: $color-white-dark-5;
    }

    .btn-delete {
        color: $color-white-dark-5;
        background-color: $color-danger;
    }

    &-onboarding-container {

        .modal-content {
            background-color: $color-white-dark-5;
        }

        .modal-onboarding {
            display: flex;
            flex-direction: column;
            align-items: center;



            .header-svg {
                height: 30rem;
                margin-top: 2rem;
            }

            .title {
                font-size: 3.2rem;
                white-space: nowrap;
            }

            .dots-container {
                display: flex;
                justify-content: center;

                > svg:not(:last-child) {

                }

                svg {
                    color: #C4C4C4;
                    transform: scale(2.5);
                }

                svg.current {
                    color: $color-yellow-primary;
                }
            }

            .button-container {
                align-self: flex-end;

                .btn-next-animation {
                    animation: anchor-animation-pulsate-tutor 3s infinite;
                }

                .btn-next {
                    position: relative;
                    right: -2.5rem;
                    width: 5.5rem;
                    height: 5.5rem;

                    @include respond(extra-sm) {
                        width: 4.5rem;
                        height: 4.5rem;
                    }

                    &__arrow {
                        width: 2.5rem;
                        height: 2.5rem;
                        transform: translateX(.2rem);

                        &:hover {
                            animation: scale-animation-1-5 1.5s infinite;
                        }

                        @include respond(sm) {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
        }
    }

    // switch account
    &-switch-account {
        .svg--top {
            width: 10rem;
            height: 10rem;
        }
    }


    // verify tutor
    &-verify-tutor {
        .svg {
            width: 3.5rem;
            height: 3.5rem;
        }

        #upload-file {
            height: 15rem;
            border: 2px dashed rgba(0, 0, 0, .3);
            border-radius: 2rem;
        }

        #upload-file-button input {
            opacity: 0;
            position: absolute;
        }

        #upload-file-button {
            font-size: 1.5rem;
            border-radius: 2rem;
        }
    }

    &-session {
        font-size: 1.6rem;
        color: $color-black-2;

        img {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .modal-svg {
            width: 3rem;
            height: 3rem;

            * {
                fill: black;
            }
        }

        .calendar-details {
            font-size: 1.4rem;
        }
    }

    &-add-payment-method {
        #payment-form {
            margin-top: 3rem;

            label {
                color: $color-black-2;
            }
        }

        input {
            border-radius: 6px;
            margin-bottom: 6px;
            padding: 12px;
            border: 1px solid rgba(50, 50, 93, 0.1);
            height: 44px;
            font-size: 16px;
            width: 100%;
            background: white;
        }

        .result-message {
            line-height: 22px;
            font-size: 16px;
        }

        .result-message a {
            color: rgb(89, 111, 214);
            font-weight: 600;
            text-decoration: none;
        }

        .hidden {
            display: none;
        }

        #card-error {
            color: rgb(105, 115, 134);
            text-align: left;
            font-size: 13px;
            line-height: 17px;
            margin-top: 12px;
        }

        #card-element {
            border-radius: 4px 4px 0 0;
            padding: 12px;
            border: 1px solid rgba(50, 50, 93, 0.1);
            height: 44px;
            width: 100%;
            background: white;
        }

        #payment-request-button {
            margin-bottom: 32px;
        }

        /* Buttons and links */
        button {
            background: #5469d4;
            color: #ffffff;
            font-family: Arial, sans-serif;
            border-radius: 0 0 4px 4px;
            border: 0;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            display: block;
            transition: all 0.2s ease;
            box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
            width: 100%;
        }

        button:hover {
            filter: contrast(115%);
        }

        button:disabled {
            opacity: 0.5;
            cursor: default;
        }

        /* spinner/processing state, errors */
        .spinner,
        .spinner:before,
        .spinner:after {
            border-radius: 50%;
        }

        .spinner {
            color: #ffffff;
            font-size: 22px;
            text-indent: -99999px;
            margin: 0px auto;
            position: relative;
            width: 20px;
            height: 20px;
            box-shadow: inset 0 0 0 2px;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }

        .spinner:before,
        .spinner:after {
            position: absolute;
            content: "";
        }

        .spinner:before {
            width: 10.4px;
            height: 20.4px;
            background: #5469d4;
            border-radius: 20.4px 0 0 20.4px;
            top: -0.2px;
            left: -0.2px;
            -webkit-transform-origin: 10.4px 10.2px;
            transform-origin: 10.4px 10.2px;
            -webkit-animation: loading 2s infinite ease 1.5s;
            animation: loading 2s infinite ease 1.5s;
        }

        .spinner:after {
            width: 10.4px;
            height: 10.2px;
            background: #5469d4;
            border-radius: 0 10.2px 10.2px 0;
            top: -0.1px;
            left: 10.2px;
            -webkit-transform-origin: 0px 10.2px;
            transform-origin: 0px 10.2px;
            -webkit-animation: loading 2s infinite ease;
            animation: loading 2s infinite ease;
        }

        @-webkit-keyframes loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }

}


#modal-book-session {
    .fc-toolbar-title {
        font-size: 1.6rem !important;
    }

    span.fa {
        font-size: 1rem;
    }

    .fc-toolbar-chunk {
        > * {
            margin-left: 0rem !important;
            margin-top: 0 !important;
        }
    }

    .calendar-note {
        font-size: 1.4rem !important;
        margin-top: 0rem !important;
        // margin-bottom: 2rem !important;

        .available-time {
            margin-right: 0;
        }
    }
}

.bg-student {

    .btn-submit {
        background-color: $color-blue-primary;
    }
}


.bg-tutor {

    .btn-submit {
        background-color: $color-purple-primary;
    }
}
