.notification-indicator {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    width: 1.5rem;
    height: 1.5rem;

    @include respond(md) {
        width: 1.3rem;
        height: 1.3rem;
    }
}
