// common class for every background-cover
.overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    background-color: rgba($color: #484848, $alpha: .3);
    width: 100vw;
    height: 100vh;
}




