.search-card-container {
    margin-top: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .search-card-flex-container {


        .search-card {
            position: relative;

            text-align: center;
            padding: 3rem;
            background-color: white;
            margin-bottom: 2rem;
            @include boxShadow;
            border-radius: 10px;
            padding-bottom: 1.5rem;

            color: black;

            $font-size: $font-3;

            font-size: $font-size;


            .bookmark {
                position: absolute;
                width: calc(2 * #{$font-size});
                height: calc(2 * #{$font-size});
                z-index: inherit;
                right: 1rem;
                top: 1rem;
                fill: $color-gray;

                &-marked {
                    // fill: none;
                    // stroke: black;
                    // stroke-width: 2;
                    fill: $color-bookmark;

                }

                &:hover {
                    cursor: pointer;
                }
            }
            p {
                margin-bottom: 0;
            }

            img {
                width: 10rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            .star-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                position: relative;
                height: 2rem;
                white-space: nowrap;

                // letter-spacing: 1px;

                .star {
                    width: $font-size;
                    position: relative;
                    z-index: inherit;
                    margin-left: 3px;
                    color: $color-gray;

                    position: relative;
                    height: 100%;
                    fill: transparent;
                    stroke: $color-gray;
                }
            }

            .courses, .subjects {
                font-size: $font-4;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                line-height: 1.2;
            }



            .name, .major, .star-container {
                font-size: $font-3;
            }

            .name {
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .name, .major {
                white-space: nowrap;
            }

            .subjects {
                margin-top: 1rem;
            }

            .star-container {
                color: $color-gray;
            }




        }





    }
}
