.select2 {
    width: 100% !important;
    min-height: 100%;

    * {
        visibility: hidden;
    }
}

.selection {
    .select2-selection {
        height: 100%;
    }

    .select2-selection__rendered {
        visibility: visible;
        display: flex !important;
        align-items: center !important;
        min-height: 100% !important;
        padding-left: 1.5rem !important;
        font-size: 2rem !important;
        z-index: 1000;
        position: relative;
        // 6rem is the width of the dropdown button
        padding-right: 6rem !important;

        @include respond(extra-sm) {
            font-size: 1.6rem !important;
        }

        .select2-selection__choice {
            visibility: visible;
            color: black;
            * {
                visibility: visible;
            }
        }
    }

}

.select2-bg-student {
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: $color-blue-primary;
    }

    .select2-search__field {
        outline: none !important;
        border: 1px solid $color-blue-primary !important;
        &:focus {
            outline: none !important;
            border: 1px solid $color-blue-primary !important;
        }
    }
    // for multiple options
    .select2-search--inline .select2-search__field {
        visibility: visible !important;
        border: none !important;
        &:focus {
            border: none !important;
        }
        &::placeholder {
            font-size: 3rem !important;
            color: red !important;
        }
    }

}

.select2-bg-tutor {
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: $color-purple-primary;
    }

    .select2-search__field {
        outline: none !important;
        border: 1px solid $color-purple-primary !important;
        &:focus {
            outline: none !important;
            border: 1px solid $color-purple-primary !important;
        }
    }
    // for multiple options
    .select2-search--inline .select2-search__field {
        visibility: visible !important;
        border: none !important;
        &:focus {
            border: none !important;
        }
    }
}

.select2-container {
    * {
        font-size: 1.8rem !important;
        @include respond(extra-sm) {
            font-size: 1.4rem;
        }
    }
}

.select2-search__field {
    visibility: visible !important;
}

.select2-selection--multiple {
    .select2-selection__rendered {
        display: flex !important;
        flex-wrap: wrap;
    }
}
