.select2 {
    width: 100% !important;
    height: 100%;

    * {
        visibility: hidden;
    }
}

.selection {
    .select2-selection {
        height: 100%;
    }

    .select2-selection__rendered {
        visibility: visible;
        display: flex !important;
        align-items: center !important;
        height: 100% !important;
        padding-left: 1.5rem !important;
        font-size: 2.4rem !important;
        z-index: 1000;
        position: relative;

        @include respond(extra-sm) {
            font-size: 1.8rem !important;
        }
    }

}

.select2-bg-student {
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: $color-blue-primary;
    }

    .select2-search__field {
        outline: none !important;
        border: 1px solid $color-blue-primary !important;
        &:focus {
            outline: none !important;
            border: 1px solid $color-blue-primary !important;
        }
    }
}

.select2-bg-tutor {
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: $color-purple-primary;
    }

    .select2-search__field {
        outline: none !important;
        border: 1px solid $color-purple-primary !important;
        &:focus {
            outline: none !important;
            border: 1px solid $color-purple-primary !important;
        }
    }
}

.select2-container {
    * {
        font-size: 1.8rem !important;
        @include respond(extra-sm) {
            font-size: 1.4rem;
        }
    }
}

