.toggle-customized {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 100%;
    top: 0;
    z-index: 9000;
    opacity: .9;
    background-color: currentColor;
    transition: right 1s;

    .toggle-after-list {
        @include absCenter;

        &-item {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            a {
                display: flex;
                padding: 2rem;

                &:link,
                &:visited {
                    font-size: 3rem;
                    font-weight: 400;
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                    background-size: 250%;
                    transition: all .4s;
                    background-position: 0;
                }

                &:hover,
                &:active {
                    background-position: 100%;
                    color: currentColor;
                    transform: translateX(1rem);
                    transition: all .5s;

                    svg {
                        stroke: currentColor;
                        fill: currentColor;
                    }
                }

                svg {
                    width: 4rem;
                    height: 4rem;
                    fill: $color-white;
                    margin-right: 2rem;
                }

                span {
                    white-space: nowrap;
                }
            }
        }
    }

    .toggle-container {
        display: none;
        position: fixed;
        top: 50%;
        justify-content: center;
        align-items: center;
        height: 20rem;
        width: 2.6rem;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        cursor: pointer;
        z-index: 9999;

        @include respond(sm) {
            display: flex;
        }

        &:hover {
            animation: animation-pulsate-tutor 3s infinite;
        }

        .svg-toggle {
            font-size: 2.2rem;
        }
    }

    .toggle-collapsed {
        left: 0;
        transform: translate(0, -50%);
        background-color: currentColor;
        transition: all 1s;
        opacity: 100%;

        .svg-toggle {
            fill: $color-white;
        }
    }

    .toggle-expanded {
        background-color: $color-white;
        right: 100%;
        transform: translate(0, -50%) rotate(180deg);
        transition: all 1s;
    }

    &.toggle-expand-animation {
        right: 0;

        .toggle-expanded {
            right: 0;

            .svg-toggle {
                fill: currentColor;
            }
        }
        .toggle-collapsed {
            left: 100%;
            opacity: 0;
        }
    }
}
