.tutor-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    padding: 1rem 2rem;
    box-shadow: 1px 2px 1px 1px rgba($color: grey, $alpha: .2);
    margin-top: 1.6rem;
    border-radius: 10px;

    .img-container {
        flex: 0 0 15%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 5.5rem;

        img {
            width: 100%;
            border-radius: 50%;

        }

    }

    .bookmark-container {
        display: flex;
        justify-content: flex-end;



        svg {
            fill: $color-gray;
            z-index: 100;
            width: 2rem;
            height: 2rem;

            &.bookmark-marked {
                fill: $color-bookmark
            }

        }

    }

    .tutor__info {
        flex: 1;
        padding-left: 1.5rem;


        > :first-child {
            font-size: 1.6rem !important;
            font-weight: 500 !important;
            margin-bottom: .5rem;
        }

        > :not(:first-child) {
            font-size: 1.5rem;
        }
    }

    .btn-container {
        flex: 0 0 100%;
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;

        button {

            flex: 0 0 49%;

        }
    }



}
