.home__tutor-request__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    

    /* Modal Content */
    .tutor-request__modal__content__close {
        background-color: #fefefe;
        margin: auto;
        width: 70rem;
        @media (max-width: 480px) {
            width: 90%;
        }
        border-radius: 10px;

        /* The Close Button */
        .tutor-request__modal__close {
            float: right;
            padding: 2rem 2rem;
            margin-bottom: 2rem;
            &:hover, &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }        
        }

        .tutor-request__modal__content {
            padding: 5rem;
            .tutor-request__modal__content__header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $color-purple-primary;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
    
            .tutor-request__modal__content__profile {
                background-color: white;
                box-shadow: none;
                margin: 0;
                padding: 0;
                .user-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 2rem;
                    .content {
                        font-weight: bold;
                    }
                }
            }
    
            .tutor-request__modal__content__calendar {
                height: 20rem;
                background-color: #C4C4C4;
                margin: 2rem 0rem;
            }
    
            .tutor-request__modal__content__policy {
                font-size: 1.5rem;
            }

            .tutor-request__modal__content__confirm {
                font-size: 1.5rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin-top: 3rem;

                .tutor-request__modal__content__confirm--decline, 
                .tutor-request__modal__content__confirm--confirm {
                    border: 1px solid $color-purple-primary;
                    border-radius: 2px;
                    padding: 1rem 3rem;
                    cursor: pointer;
                    
                }
                .tutor-request__modal__content__confirm--decline {
                    background-color: white;
                    color: $color-purple-primary;
                    margin-right: 2rem;
                }
                .tutor-request__modal__content__confirm--confirm {
                    background-color: $color-purple-primary;
                    color: white;
                }
            }
        }
    }    
}