.home {
    margin-top: $nav-height;
    color: $color-black-2;

    @include respond(extra-sm) {
        padding-left: 0;
        padding-right: 0;
    }

    &__header-container {
        padding: 8rem 0 0 0;

        .heading {
            font-size: 3.4rem;
            font-weight: 600;
            margin-bottom: 0;
        }

        .heading-container {
            font-size: 1.5rem;
        }
    }

    .heading__forum-activities {
        margin-bottom: 1.5rem;

        > :not(:last-child) {
            margin-right: 2rem;
        }

        > * {
            cursor: pointer;
            padding: 0 3px 3px 3px;
            border-bottom: .5rem solid transparent;

            &.active {
                border-color: currentColor;
            }
        }
    }

    &__header {
        padding: 0;
        border-radius: 1rem;
        position: relative;
        background-color: $color-grey-2;

        &--animated {
            .content {
                animation: fade-in-animation 3s 4s backwards;
            }

            .welcome-msg {
                animation: fade-in-out-animation 3.5s .5s ease-in-out both;
            }
        }

        .content {
            height: 20rem;
            display: flex;
            align-items: center;

            &-img {
                margin-right: 4.5rem;
                margin-bottom: 0;
                margin-left: 4rem;
                position: relative;
                width: 12rem;
                min-width: 12rem;
                height: 12rem;

                @include respond(md) {
                    width: 10rem;
                    min-width: 10rem;
                    height: 10rem;
                    margin-right: 3rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    transition: all .1s;
                }

                .caption {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-50%), calc(-50%));
                    color: $color-white-dark-5;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    text-align: center;
                    font-weight: 500;
                    opacity: 0;
                    transition: all .1s;
                    backface-visibility: hidden;
                    cursor: pointer;
                }

                &:hover .caption, &:active .caption {
                    opacity: 1;
                    transform: translate(calc(-50%), calc(-50%));
                }

                &:hover img {
                    filter: blur(1.5px) brightness(70%);
                }
            }

            .content-info {
                color: $color-white;

                .name-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: .25rem;

                    .name {
                        font-weight: 600;
                        margin-bottom: 0;
                        margin-right: 3rem;
                        max-width: 30rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        @include respond(md) {
                            margin-right: 1.8rem;
                        }
                    }

                    svg {
                        width: 1.8rem;
                        height: 1.8rem;
                        margin-right: .4rem;
                        position: relative;
                        bottom: .2rem;

                        @include respond(md) {
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: .3rem;
                        }

                        &.full {
                            fill: $color-yellow-primary;
                        }

                        &.empty {
                            fill: $color-white;
                        }
                    }

                    .rating {
                        font-size: 1.4rem;
                        margin-left: .5rem;

                        @include respond(md) {
                            font-size: 1.2rem;
                        }
                    }

                }

                .sub {
                    font-size: 1.5rem;
                    margin-bottom: .75rem;

                    .sub--3 {

                        svg {
                            transition: all .1s;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.4);
                            }

                            &:active {
                                transform: scale(1.4) translateY(2px);
                            }
                        }
                    }
                }

                .tutor-level-progress {
                    position: relative;
                    width: 25rem;

                    .progress {
                        height: 1rem;
                        background-color: $color-purple-primary-2;

                        .progress-bar {
                            background-color: $color-white;
                        }
                    }

                    .tutor-level {
                        font-size: 1.2rem;
                        position: absolute;
                        top: 1.4rem;

                        &--current {
                            left: 0;
                        }

                        &--next {
                            right: 0;
                        }
                    }
                }
            }

            .content-data {
                position: absolute;
                display: flex;
                bottom: 3rem;
                right: 4rem;

                @include respond(md) {
                    right: 2rem;
                    bottom: .75rem;
                }



                .data {
                    &:not(:last-child) {
                        margin-right: 3rem;

                        @include respond(md) {
                            margin-right: 1.5rem;
                        }
                    }

                    .number {
                        color: $color-white;
                        display: block;
                        font-size: 3rem;
                        line-height: 1;
                        font-weight: 500;

                        @include respond(md) {
                            font-size: 2rem;
                        }

                        // 400px
                         @media only screen and (max-width: 25em) {
                            font-size: 1.6rem;
                            position: relative;
                            top: 2.5px;
                        }
                    }

                    .classifier {
                        color: $color-white-dark-5;
                        font-size: 1.4rem;

                        @include respond(md) {
                            font-size: 1.2rem;
                        }

                        // 400px
                         @media only screen and (max-width: 26em) {
                            font-size: 7px;
                        }
                    }
                }
            }
        }

        .welcome-msg {
            @include absCenter;
        }

    }

    &__content-container {
        padding-left: 15px;
        padding-right: 0;
        margin-left: 3rem;

        @include respond(extra-sm) {
            padding-left: 0;
            margin-left: 0;
        }
    }

    &__content {
        margin-bottom: 18rem;

        .col-layout-2 {
            margin-left: 40rem;
            max-width: 100rem;

            @include respond(lg-2) {
                max-width: 90rem;
                margin-left: 35rem;
            }
        }

        .col-layout-3 {
            margin-left: 35rem;
            max-width: calc(100vw - 42rem - 48rem);

            @include respond(lg-2) {
                margin-left: 30rem;
                max-width: calc(100vw - 34rem - 48rem);
            }

            // 1370 px
            @media only screen and (max-width: 85.624em) {
                max-width: 70vw;
                margin-left: 33rem;
            }

            &--hidden {
                display: none;

                // 1370 px
                @media only screen and (max-width: 85.624em) {
                    display: block;
                }
            }

            @media only screen and (max-width: 85.624em) {
                #upcoming-sessions-container {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
                }
            }

            @include respond(md) {
                #upcoming-sessions-container {
                    flex: 0 0 100%;
                    max-width: 100%;
                    display: flex;
                }
            }
        }

        .col-layout-2, .col-layout-3 {

            #calendar-container {

                background-color: $color-white-dark-5;
                padding: 2rem 3rem 4.5rem 3rem;
                border-radius: 1rem;
                box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);

                .heading {
                    display: flex;
                    justify-content: space-between;

                    .hourly-rate {

                    }
                }

                #calendar {
                    margin-top: 1.5rem;
                }

                // 1370 px
                @media only screen and (max-width: 85.624em) {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                    margin-right: 3rem;
                    flex: 0 0 calc(66.6666666667% - 3rem);
                    max-width: calc(66.6666666667% - 3rem);
                }

                @include respond(md) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

            }

            @include respond(lg) {
                max-width: 70vw;
                margin-left: 27rem;
            }

            @include respond(md) {
                max-width: 69vw;
                margin-left: 21rem;
            }

            @include respond(sm) {
                margin-left: 15px;
                margin-right: 15px;
                max-width: calc(100% - 30px);
            }
        }

        .container:not(:first-child) {
            margin-top: 6rem;
        }

        .recommended-tutors {
            width: 100%;
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            // gap: 2rem;
            flex-wrap: wrap;
            display: flex;

            .user-card {
                margin-top: 1.5rem;
                width: calc((100% - 2rem * 3) / 4);
                min-width: 17.5rem;
                margin-right: 2rem;
                color: $color-blue-primary;

                // every 4 children
                &:nth-child(4n + 4) {
                    margin-right: 0;
                }

                @include respond(md) {
                    width: calc((100% - 2rem * 2) / 3);

                    &:nth-child(4n + 4) {
                        margin-right: 2rem;
                    }

                    &:nth-child(3n + 3) {
                        margin-right: 0;
                    }
                }

                // 450px
                @media only screen and (max-width: 28.124em) {
                    width: calc((100% - 2rem * 1) / 2);

                    &:nth-child(4n + 4) {
                        margin-right: 2rem;
                    }

                    &:nth-child(3n + 3) {
                        margin-right: 2rem;
                    }

                    &:nth-child(2n + 2) {
                        margin-right: 0;
                    }
                }
            }
        }

        .btn-pay {
            background-color: $color-blue-primary;
            color: $color-white-dark-5;
        }

        .post-previews {

            @include respond(sm) {
                order: 1;
                margin-top: 3rem;
            }
        }


        .forum-data-container {
            position: relative;
            right: -15px;

            @include respond(sm) {
                right: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .forum-data {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $color-white-dark-5;
                box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
                padding: 1rem 2rem;
                border-radius: .5rem;

                @include respond(sm) {
                    flex: 1;

                    &:not(:last-child) {
                        margin-right: 2.5rem;
                    }
                }

                &:first-child {
                    margin-top: 2rem;
                }

                &:not(:first-child) {
                    margin-top: 1.5rem;
                }

                .title {
                    font-size: 1.5rem;
                    color: $color-grey;
                }

                .number {
                    font-size: 1.8rem;
                    color: $color-black-post;
                    font-weight: 500;
                }
            }
        }
    }

    &__row-columns-2 {
        > * {
            padding: 0;
        }

        > :first-child {
            padding-right: 30px;

            @include respond(md) {
                padding-right: 0;
            }
        }
    }

    &__data-visualizations {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .graph-1 {
            flex: 0 0 calc(60% - 3rem);
        }

        .graph-2 {
            background-color: $color-white-dark-5;
            box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
            flex: 0 0 calc(40%);
            border-radius: 1rem;
            overflow: hidden;
            padding: 0 2rem 2rem 2rem;
        }

        .graph-1, .graph-2 {
            margin-top: 1.6rem;

            @include respond(md) {
                flex: 0 0 100%;
            }
        }

        @include respond(md) {
            .graph-2 {
                margin-top: 2.4rem;
            }
        }

        .plotly {
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
        }
    }

    &__side-bar {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 8rem;
        width: 38rem;

        @include respond(lg-2) {
            width: 36rem;
        }

        // 1370 px
        @media only screen and (max-width: 85.624em) {
            display: none;
        }

        .home__board {
            margin-top: 8rem;
            height: 20rem;
            border-radius: 1rem;
        }

        &__notifications, &__bookmarked-users {
            margin-top: 6rem;
            background-color: $color-white-dark-5;
            border-radius: 1rem;
            box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);

            > :first-child {
                padding-top: 2.5rem;
                padding-left: 3rem;
                padding-right: 2rem;

                span {
                    font-size: 1.8rem;

                    color: $color-grey;
                }

            }
        }

        .home__side-bar__bookmarked-users .bookmarked-users {
            > * {
                padding-top: 1.75rem;
                padding-bottom: 1.75rem;
                padding-left: 3rem;
                padding-right: 3rem;
                align-items: center;
            }

            .bookmarked-user {
                display: flex;

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    width: 4.5rem;
                    height: 4.5rem;
                    margin-right: 2rem;
                }

                &__content {
                    width: calc(100% - 4.5rem - 2rem);
                    display: flex;
                    flex-direction: column;

                    .user-name {
                        font-size: 1.6rem;
                        margin-bottom: .5rem;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        a {
                            font-size: 1.2rem;
                            width: calc(50% - 1rem);
                        }
                    }
                }
            }
        }

        &__upcoming-sessions {
            margin-top: 6rem;
        }
    }
}


.bg-tutor {
    .home {
        &__header {
            background-image: linear-gradient(to right, rgba(103, 73, 223, 1), rgba(73, 47, 175, 1));

            .content-info {
                margin-top: -2.5rem;
            }
        }

        &__board {
            background-image: radial-gradient(rgba(103, 73, 223, 1), rgba(98, 70, 210, 1));
            padding: 3rem 4rem;

            color: $color-white;

            a {
                margin-top: 1rem;
                padding: .75rem 2.25rem;
                font-size: 1.6rem;
                color: $color-white;
                border-radius: 2rem;
                background-image: linear-gradient(to right, rgba(254, 211, 92, 1), rgba(255, 188, 0, 1));
            }
        }

        .welcome-msg {
            color: $color-purple-primary;
        }

        .info-box {
            .actions, .action {
                .btn-cancel-session {
                    border: 1px solid $color-purple-primary;
                    color: $color-purple-primary;
                }

                .btn-view, .btn-view-request, .btn-view-session {
                    background-color: $color-purple-primary;
                    color: $color-white;
                }
            }

        }

        .post-previews {
            .post-preview-tag {
                color: $color-purple-primary;
            }
        }
    }
}

.bg-student {
    .home {
        &__header {
            background-image: linear-gradient(to right, rgba(60, 138, 253, 1), rgba(0, 89, 220, 1));

            .content-info {
                margin-bottom: 4.5rem;
            }
        }

        &__board {
            background: $color-white-dark-5;
        }

        .welcome-msg {
            color: $color-blue-primary;
        }

        .info-box {
            .actions, .action {
                .btn-cancel-session {
                    border: 1px solid $color-blue-primary;
                    color: $color-blue-primary;
                }

                .btn-view-session, .btn-view, {
                    background-color: $color-blue-primary;
                    color: $color-white;
                }
            }

        }

        .post-previews {
            .post-preview-tag {
                color: $color-blue-primary;
            }
        }

    }
}

