.profile {
    margin-top: unset !important;

    &__heading {
        margin-top: 5rem;
    }

    &__form-row {
        display: flex;
        width: 100%;

        > :not(:last-child) {
            margin-right: 2rem;
        }

        > * {
            flex: 0 0 calc(33.33% - 1rem);
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: .5rem;
    }

    &__input {
        font-size: 1.6rem;
        padding: 2rem 1.5rem;
    }

    .gpa, .hourly-rate {
        flex: 0 0 8rem;
    }



}
