.home .tutor-sessions {

    #calendar-container {
        margin-right: 3rem;
        flex: 0 0 calc(66.6666666667% - 3rem);
        max-width: calc(66.6666666667% - 3rem);

        @include respond(md) {
            margin-right: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

}

.home .past-sessions {

    > * {
        margin-top: 1.5rem;

        &:last-child {
            margin-bottom: .5rem;
        }
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .action--toggle--list {
        background-color: white;
        overflow: hidden;

        border-radius: 1rem;
        top: 2rem;
        left: 2rem;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);

        z-index: 2;

        &--title {
            margin-left: 2rem;
        }

        a {
            text-decoration: none;
        }

        > * {
            padding: 1.2rem 2.2rem;

            &:hover {
                cursor: pointer;

                * {
                    color: $color-white !important;
                    fill: $color-white !important;
                }
            }
        }
    }
}


.bg-tutor {
    .home .past-sessions .action--toggle--list >:hover {
        background-color: $color-purple-primary;
    }
}

.bg-student {
    .home .past-sessions .action--toggle--list >:hover {
        background-color: $color-blue-primary;
    }
}
