.help-center {
    position: relative;

    &__header {
        &-bg {
            position: absolute;
            height: 40rem;
            width: 100vw;
            border-radius: 0 0 13rem 0;
            margin: 0 -15px;
        }
    }

    &-content {
        color: $color-white;
        padding-top: 18rem;
    }

    &__cards {
        margin-top: 6rem;
        margin-bottom: 8rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-gap: 3rem;

        // &--selected {
        //     position: relative;
        //     top: -20vh;

        //     details {
        //         summary {
        //             outline: none;
        //             margin-bottom: 1.5rem;
        //             &::-webkit-details-marker {
        //                 color: $color-purple-primary;
        //                 margin-right: 2rem;
        //             }
        //         };

        //         outline: none;
        //         line-height: 1.6;
        //     }
        // }

        // &--description {
        //     line-height: 1.6;
        //     margin-bottom: 2rem;
        // }

        .help-center__card {
            padding: 5rem 3rem;
            border-radius: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            .card__svg {
                margin: 0 auto;
            }

            .card__title {
                color: $color-black-2;
                text-align: center;
            }
        }


    }




    &__footer {
        margin: 8rem 0;

        &__button {
            background-color: $color-purple-primary;
            border-radius: 40px;
        }
    }
}
