.forum {
    margin-top: calc(#{$nav-height} + 4rem);

    .btn-link {
        color: $color-grey;
        transition: all .1s;
        &:hover {
            color: $color-black-post;
        }
    }

    .forum-row {
        margin: 0 -4rem;

        @include respond(sm) {
            margin: 0;
        }
    }

    .action {
        color: $color-grey;
        display: flex;
        align-items: center;
    }

    .btn-add-post {
        font-size: 1.8rem;
        color: $color-white;
        display: flex;
        align-items: center;
        font-weight: bold;
        width: 100%;
        justify-content: center;
        padding: 1rem 2rem;
        border-radius: 1rem;

        &:hover {
            color: $color-white;
        }
    }

    .btn-back {
        align-self: center;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        padding: .5rem .75rem;
        border-radius: .5rem;
        background-color: $color-white-dark-5;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
        border: none;
        margin-right: 1.5rem;

        svg {
            font-size: 1.4rem;
            margin-right: .25rem;
        }
    }


    .select-container {
        border: 1px solid;
        border-radius: .5rem;
        min-height: calc(1.5em + 1rem + 2px);

        .input-group-prepend {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            z-index: 1000;

            &:hover {
                cursor: pointer;
            }

            :first-child {
                width: 1.75rem;
                height: 1.75rem;
                fill: currentColor;
            }
        }

        .select2-search__field {
            font-size: 1.6rem !important;
        }

        .select2-selection__choice {
            font-size: 1.2rem !important;
        }

        .select2-container .select2-search--inline .select2-search__field {
            margin-top: 0;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0;
            display: flex;
            align-items: center;
        }
    }

    &-search-component {
        .select-container__icon {
            position: relative;
            right: 1rem;
        }
    }

}

.forum-left {
    @include respond(sm) {
        display: none;
    }

    &__list {
        list-style: none;
        font-size: 1.6rem;
        font-weight: bold;

        &-item {
            background-color: $color-white-dark-5;
            padding: 1.4rem 1.5rem;
            display: flex;
            align-items: center;
            border-radius: .5rem;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            transition: all .1s;
            cursor: pointer;

            &:hover {
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }

        &-svg {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
            margin-right: 1rem;
            transition: all .1s;

            @include respond(lg) {
                margin-right: .5rem;
                width: 1.8rem;
                height: 1.8rem;
                min-width: 1.8rem;
                min-height: 1.8rem;
            }
        }

        &-content {
            color: inherit;
            &:hover {
                text-decoration: none;
                color: currentColor;
            }
        }
    }

    .user-card {
        margin-top: 3rem;
    }
}

.forum-content {

    @include respond(extra-sm) {
        padding-right: 0;
    }

    &__search {
        font-size: 1.6rem;
        &--normal {
            display: flex;

            width: 100%;
            margin-top: 2rem;

            > * {
                color: inherit;
                font-size: inherit;
            }

            .form-search {
                width: 35rem;

                .input-search {
                    background-color: $color-white-dark-5;
                    transition: all .1s;

                    + .svg-search {
                        width: 1.75rem;
                        height: 1.75rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .tags-container {
                max-width: 35rem;
                flex: 1;
                border-radius: .5rem;
                overflow: hidden;

                background-color: $color-white-dark-5;


                .select-container {

                    .select2-container--default .select2-selection--multiple .select2-selection__choice {
                        height: 2.2rem;
                    }

                    .selection .select2-selection__rendered {
                        padding-left: 1rem !important;
                    }

                }
            }
        }

        &__search-by, .btn-filter {
            border-radius: .5rem;
            outline: none;
            background-color: $color-white-dark-5;
            align-self: center;
            border: none;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
        }

        &__search-by {
            font-weight: 500;
            padding: .5rem 1rem;
            margin-left: 2rem;
        }

        .filter-container {
            font-size: inherit;

            .btn-filter {
                font-size: inherit;
                color: currentColor;
                width: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .3rem .7rem;

                svg {
                    height: 2rem;
                }
            }

            &__content {
                border-radius: 1rem;
                background-color: $color-white-dark-5;
                padding: 1rem 1.5rem 1rem 3rem;
                display: grid;
                grid-template-columns: 8rem 1fr 1fr 1fr 1fr;
                grid-row-gap: 1rem;
                align-items: center;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

                label {
                    color: $color-black-2;
                    margin-bottom: 0;
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }
    }
}

.forum-right {
    margin-bottom: 12rem;

    @include respond(md) {
        display: none;
    }

    .trending-tags, .you-may-help-with {
        margin-top: 3rem;
        background-color: $color-white-dark-5;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

        &__heading {
            display: flex;
            align-items: center;
            font-weight: bold;
            margin-bottom: 1.5rem;
            white-space: nowrap;

            @include respond(lg) {
                font-size: 1.8rem;
            }

            svg {
                fill: currentColor;
            }
        }
    }

    .trending-tags {

        .svg-trending-tag {
            width: 3.5rem;
            min-width: 3.5rem;
            height: 3.5rem;
            min-height: 3.5rem;

            @include respond(lg) {
                width: 3.2rem;
                min-width: 3.2rem;
                height: 3.2rem;
                min-height: 3.2rem;
            }
        }

        &__list {
            list-style: none;
            font-size: 1.5rem;

            thead th {
                border-bottom: none;
            }

            &-item {
                > * {
                    border-top: none;
                }
            }

            .tag-name {
                font-weight: bold;
                padding: .25rem;
            }

            .post-cnt, .reply-cnt {
                color: $color-grey;
                font-size: 1.5rem;
            }
        }
    }

    .you-may-help-with {

        .svg-help {
            width: 2.5rem;
            min-width: 2.5rem;
            height: 2.5rem;
            min-height: 2.5rem;

            @include respond(lg) {
                width: 2.2rem;
                min-width: 2.2rem;
                height: 2.2rem;
                min-height: 2.2rem;
            }
        }

        .questions {
            border-top: 1px solid #dee2e6;

            :first-child {
                margin-top: .75rem;
            }
            > :not(:first-child) {
                margin-top: 1rem;
            }

            .question {
                color: $color-black-post;
                font-size: 1.5rem;
                display: inline-block;
                line-height: 1.4;
            }
        }
    }
}

.post-preview, .post-detail {
    &-tag {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.4rem;


        .status {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.bg-tutor {
    color: $color-purple-primary;

    .form-search .input-search {
        &:focus {
            box-shadow: 0px 2px 2px 0px rgba($color-purple-primary, 0.2);
        }
    }

    .btn-back {
        &:hover {
            background-color: $color-purple-primary;
            color: $color-white;
        }
    }

    .forum {
        @include form-search-purple;

        &-left__list {

            .current {
                background-color: $color-purple-primary;
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &-item {
                &:hover {
                    background-color: $color-purple-primary;
                }
            }

            &-svg {
                fill: $color-purple-primary;
            }
        }


        .btn-add-post {
            background-color: $color-purple-primary;
            &:hover {
                background-color: $color-purple-primary-2;
            }
        }

        &-right {

            .trending-tags__list {

                .tag-name {
                    color: $color-purple-primary;
                }

                thead th {
                    color: $color-purple-primary;
                }
            }
        }

        .active {
            color: $color-purple-primary !important;

            svg {
                fill: $color-purple-primary !important;
            }
        }


    }

    .btn-scroll-bottom-right-top, .btn-scroll-bottom-right-under {
        &:hover {
            circle {
                fill: $color-purple-primary-2;
            }
        }
        circle {
            fill: $color-purple-primary;
        }
    }
}

.bg-student {
    color: $color-blue-primary;

    .form-search .input-search {
        &:focus {
            box-shadow: 0px 2px 2px 0px rgba($color-blue-primary, 0.2);
        }
    }

    .btn-back {
        &:hover {
            background-color: $color-blue-primary;
            color: $color-white;
        }
    }

    .forum {
        @include form-search-blue;

        &-left__list {

            .current {
                background-color: $color-blue-primary;
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &-item {
                &:hover {
                    background-color: $color-blue-primary;
                }
            }

            &-svg {
                fill: $color-blue-primary;
            }
        }

        .btn-add-post {
            background-color: $color-blue-primary;
            &:hover {
                background-color: $color-blue-primary-2;
            }
        }

        &-right {

            .trending-tags__list {
                .tag-name {
                    color: $color-blue-primary;
                }

                thead th {
                    color: $color-blue-primary;
                }
            }
        }

        .active {
            color: $color-blue-primary !important;

            svg {
                fill: $color-blue-primary !important;
            }
        }



    }

    .btn-scroll-bottom-right-top, .btn-scroll-bottom-right-under {
        &:hover {
            circle {
                fill: $color-blue-primary-2;
            }
        }
        circle {
            fill: $color-blue-primary;
        }
    }
}


.forum-heading-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

    &--top {
        background-image: url(../../../public/assets/images/forum-heading-1.png);
    }

    &--right {
        background-image: url(../../../public/assets/images/forum-heading-2.png);
    }
}

.post__heading {
    font-size: 2.2rem;
}

.post-detail .post__heading {
    font-size: 3rem;
}

.post__heading-2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    .poster-img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        margin-right: .8rem;
        object-fit: cover;

        &.placeholder-img {
            position: relative;
            display: block;
            background-color: $color-yellow-primary;

            span {
                @include absCenter;
                font-size: 1.3rem;
                font-weight: 500;
                color: $color-white;
                white-space: nowrap;
            }
        }
    }
}

.post__content, .post-reply__content, .followup-container {
    font-size: 1.6rem;
}

.post__bottom {
    flex: 0 0 100%;

    .tags {
        font-size: 1.2rem;
        margin-top: .8rem;
        margin-bottom: 2rem;
    }

    &__info, &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    svg {
        fill: $color-grey;
        width: 2rem;
        height: 2rem;
    }
}

.post-preview, .post-detail {
    position: relative;
    border-radius: 1rem;
    background-color: $color-white-dark-5;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    margin-top: 2rem;
}

.post-preview {
    padding: 2rem 2rem;
}

.post-detail {
    padding: 4rem 4rem 2.5rem 4rem;

    .post__content {
        img {
            border: unset !important;
        }
    }
}

