.forum {
    margin-top: calc(#{$nav-height} + 4rem);

    .forum-row {
        margin: 0 -4rem;

        @include respond(sm) {
            margin: 0;
        }
    }

    .action {
        color: $color-grey;
        display: flex;
        align-items: center;
    }

    .btn-add-post {
        font-size: 1.8rem;
        color: $color-white;
        display: flex;
        align-items: center;
        font-weight: bold;
        width: 100%;
        justify-content: center;
        padding: 1rem 2rem;
        border-radius: 1rem;

        &:hover {
            color: $color-white;
        }
    }

    .btn-back {
        align-self: center;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        padding: .5rem .75rem;
        border-radius: .5rem;
        background-color: $color-white-dark-5;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
        border: none;
        margin-right: 1.5rem;

        svg {
            font-size: 1.4rem;
            margin-right: .25rem;
        }
    }


    .select-container {
        border: 1px solid;
        border-radius: .5rem;
        min-height: calc(1.5em + 1rem + 2px);

        .input-group-prepend {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            z-index: 1000;

            &:hover {
                cursor: pointer;
            }

            :first-child {
                width: 1.75rem;
                height: 1.75rem;
                fill: currentColor;
            }
        }

        .select2-search__field {
            font-size: 1.6rem !important;
        }

        .select2-selection__choice {
            font-size: 1.2rem !important;
        }

        .select2-container .select2-search--inline .select2-search__field {
            margin-top: 0;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0;
            display: flex;
            align-items: center;
        }
    }

    .overlay-forum-left {
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: 100%;
        top: 0;
        z-index: 9000;
        opacity: .9;
        background-color: currentColor;
        transition: right 1s;

        .forum-left-sm__list {
            @include absCenter;

            &-item {
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

                a {
                    display: flex;
                    padding: 2rem;

                    &:link,
                    &:visited {
                        font-size: 3rem;
                        font-weight: 400;
                        color: $color-white;
                        text-decoration: none;
                        text-transform: uppercase;
                        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                        background-size: 250%;
                        transition: all .4s;
                        background-position: 0;
                    }

                    &:hover,
                    &:active {
                        background-position: 100%;
                        color: currentColor;
                        transform: translateX(1rem);
                        transition: all .5s;

                        svg {
                            stroke: $color-white;
                            fill: currentColor;
                        }
                    }

                    svg {
                        width: 4rem;
                        height: 4rem;
                        fill: $color-white;
                        margin-right: 1rem;
                    }
                }
            }
        }

        .toggle-container {
            display: none;
            position: fixed;
            top: 50%;
            justify-content: center;
            align-items: center;
            height: 20rem;
            width: 3.5rem;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            cursor: pointer;
            z-index: 9999;

            @include respond(sm) {
                display: flex;
            }

            &:hover {
                animation: animation-pulsate-tutor 3s infinite;
            }

            .svg-toggle {
                font-size: 2.3rem;
            }
        }

        .toggle-collapsed {
            left: 0;
            transform: translate(0, -50%);
            background-color: currentColor;
            transition: all 1s;
            opacity: 100%;

            .svg-toggle {
                fill: $color-white;
            }
        }

        .toggle-expanded {
            background-color: $color-white;
            right: 100%;
            transform: translate(0, -50%) rotate(180deg);
            transition: all 1s;
        }

        &.toggle-expand-animation {
            right: 0;

            .toggle-expanded {
                right: 0;

                .svg-toggle {
                    fill: currentColor;
                }
            }
            .toggle-collapsed {
                left: 100%;
                opacity: 0;
            }
        }
    }

    &-search-component {
        .select-container__icon {
            position: relative;
            right: 1rem;
        }
    }

}

.forum-left {
    @include respond(sm) {
        display: none;
    }

    &__list {
        list-style: none;
        font-size: 1.6rem;
        font-weight: bold;



        &-item {
            background-color: $color-white-dark-5;
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center;
            border-radius: .5rem;
            box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
            transition: all .1s;
            cursor: pointer;

            &:hover {
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }

        &-svg {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
            margin-right: 1rem;
            transition: all .1s;

            @include respond(lg) {
                margin-right: .5rem;
                width: 1.8rem;
                height: 1.8rem;
                min-width: 1.8rem;
                min-height: 1.8rem;
            }
        }

        &-content {
            color: inherit;
            &:hover {
                text-decoration: none;
                color: currentColor;
            }
        }
    }
}

.forum-content {

    &__search {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.6rem;
        width: 100%;
        margin-top: 2rem;

        > * {
            color: inherit;
            font-size: inherit;
        }

        .form-search {
            width: 35rem;

            .input-search {
                background-color: $color-white-dark-5;
                transition: all .1s;

                + .svg-search {
                    width: 1.75rem;
                    height: 1.75rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .tags-container {
            max-width: 35rem;
            flex: 1;
            border-radius: .5rem;
            overflow: hidden;

            background-color: $color-white-dark-5;


            .select-container {

                .select2-container--default .select2-selection--multiple .select2-selection__choice {
                    height: 2.2rem;
                }

                .selection .select2-selection__rendered {
                    padding-left: 1rem !important;
                }

            }
        }

        &__search-by {
            padding: .5rem 1rem;
            border-color: currentColor;
            border-radius: .5rem;
            outline: none;
            font-weight: 500;
            background-color: $color-white-dark-5;
            align-self: center;
        }

        &__search-by {
            margin-left: 2rem;
        }

        .filter-container {

        }
    }
}

.forum-right {
    margin-bottom: 12rem;

    @include respond(md) {
        display: none;
    }

    .trending-tags, .you-may-help-with {
        margin-top: 3rem;
        background-color: $color-white-dark-5;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);

        &__heading {
            display: flex;
            align-items: center;
            font-weight: bold;
            margin-bottom: 1.5rem;
            white-space: nowrap;

            @include respond(lg) {
                font-size: 1.8rem;
            }

            svg {
                fill: currentColor;
            }
        }
    }

    .trending-tags {

        .svg-trending-tag {
            width: 3.5rem;
            min-width: 3.5rem;
            height: 3.5rem;
            min-height: 3.5rem;

            @include respond(lg) {
                width: 3.2rem;
                min-width: 3.2rem;
                height: 3.2rem;
                min-height: 3.2rem;
            }
        }

        &__list {
            list-style: none;
            font-size: 1.5rem;

            thead th {
                border-bottom: none;
            }

            &-item {
                > * {
                    border-top: none;
                }
            }

            .tag-name {
                font-weight: bold;
                padding: .25rem;
            }

            .post-cnt, .reply-cnt {
                color: $color-grey;
                font-size: 1.5rem;
            }
        }
    }

    .you-may-help-with {

        .svg-help {
            width: 2.5rem;
            min-width: 2.5rem;
            height: 2.5rem;
            min-height: 2.5rem;

            @include respond(lg) {
                width: 2.2rem;
                min-width: 2.2rem;
                height: 2.2rem;
                min-height: 2.2rem;
            }
        }

        .questions {
            border-top: 1px solid #dee2e6;

            :first-child {
                margin-top: .75rem;
            }
            > :not(:first-child) {
                margin-top: 1rem;
            }

            .question {
                color: $color-black-post;
                font-size: 1.5rem;
                display: inline-block;
                line-height: 1.4;
            }
        }
    }
}

.post-preview, .post-detail {
    &-tag {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.4rem;


        .status {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.bg-tutor {
    color: $color-purple-primary;

    .form-search .input-search {
        &:focus {
            box-shadow: 0px 3px 1px 0px rgba($color-purple-primary, 0.2);
        }
    }

    .btn-back {
        &:hover {
            background-color: $color-purple-primary;
            color: $color-white;
        }
    }

    .forum {
        @include form-search-purple;

        &-left__list {

            .current {
                background-color: $color-purple-primary;
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &-item {
                &:hover {
                    background-color: $color-purple-primary;
                }
            }

            &-svg {
                fill: $color-purple-primary;
            }
        }


        .btn-add-post {
            background-color: $color-purple-primary;
            &:hover {
                background-color: $color-purple-primary-2;
            }
        }

        &-right {

            .trending-tags__list {

                .tag-name {
                    color: $color-purple-primary;
                }

                thead th {
                    color: $color-purple-primary;
                }
            }
        }

        .btn-link {
            color: $color-purple-primary;
            transition: all .2s;
            &:hover {
                color: $color-purple-primary-2;
            }
        }

        .active {
            color: $color-purple-primary !important;

            svg {
                fill: $color-purple-primary !important;
            }
        }


    }

    .btn-scroll-bottom-right-top, .btn-scroll-bottom-right-under {
        &:hover {
            circle {
                fill: $color-purple-primary-2;
            }
        }
        circle {
            fill: $color-purple-primary;
        }
    }
}

.bg-student {
    color: $color-blue-primary;

    .form-search .input-search {
        &:focus {
            box-shadow: 0px 3px 1px 0px rgba($color-blue-primary, 0.2);
        }
    }

    .btn-back {
        &:hover {
            background-color: $color-blue-primary;
            color: $color-white;
        }
    }

    .forum {
        @include form-search-blue;

        &-left__list {

            .current {
                background-color: $color-blue-primary;
                color: $color-white-dark-5;

                svg {
                    fill: $color-white-dark-5;
                }
            }

            &-item {
                &:hover {
                    background-color: $color-blue-primary;
                }
            }

            &-svg {
                fill: $color-blue-primary;
            }
        }

        .btn-add-post {
            background-color: $color-blue-primary;
            &:hover {
                background-color: $color-blue-primary-2;
            }
        }

        &-right {

            .trending-tags__list {
                .tag-name {
                    color: $color-blue-primary;
                }

                thead th {
                    color: $color-blue-primary;
                }
            }
        }

        .btn-link {
            color: $color-blue-primary;
            transition: all .2s;
            &:hover {
                color: $color-blue-primary-2;
            }
        }

        .active {
            color: $color-blue-primary !important;

            svg {
                fill: $color-blue-primary !important;
            }
        }



    }

    .btn-scroll-bottom-right-top, .btn-scroll-bottom-right-under {
        &:hover {
            circle {
                fill: $color-blue-primary-2;
            }
        }
        circle {
            fill: $color-blue-primary;
        }
    }
}


.forum-heading-img {
    background-image: url(../../../public/assets/images/forum-heading-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
}

.post__heading {
    &:hover {
        color: $color-black-post;
    }
}

.post__heading-2 {
    font-size: 1.4rem;

    .poster-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: .3rem;
    }
}

.post__content, .post-reply__content {
    font-size: 1.6rem;
}

.post__bottom {
    flex: 0 0 100%;

    .tags {
        font-size: 1.4rem;
        margin-top: .5rem;
    }

    &__info, &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    svg {
        fill: $color-grey;
        width: 2rem;
        height: 2rem;
    }
}

.post-preview, .post-detail {
    position: relative;
    border-radius: 1rem;
    background-color: $color-white-dark-5;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);
    margin-top: 2rem;
}

.post-preview {
    padding: 2.5rem 4rem 2.5rem 4rem;
}

.post-detail {
    padding: 4.5rem 4rem 3rem 4rem;
}

