.svg-nav {
    position: absolute;
    z-index: -1000;

    .st0 {
        fill:#97D2FB;
        fill-opacity:0.25;
    }

    .st0-white {
        fill: $color-white !important;
        fill-opacity:1 !important;
    }

    @include respond(phone) {

        display: none;

        + .nav {
            background-color: $color-blue-light-trans;

            .nav-container {
                align-items: center;
            }
        }

        + .nav-container-white {
            background-color: $color-white !important;
        }

    }
}



.nav-white {
    background-color: $color-blue-light-trans;
    width: 100%;
    height: $navbar-height;
    position: absolute;
    z-index: -2000;
}


$nav-height-percent: 70%;
.nav {
    height: $navbar-height;
    width: 100vw;
    min-height: 35px;


    .svg-logo-container {
        height: $nav-height-percent;
        // background-color: orangered;
        display: flex;
        align-items: center;


        .svg-logo {
            margin-left: 7rem;
            margin-right: 7rem;
            width: 10rem;
            z-index: 100;

            transition: transform .4s;

            &:hover {
                cursor: pointer;

                // shuaiqing
                // transform: scale(1.3);

            }

            @media only screen and (max-width: 767px) {
                // 768px
                margin-right: 5rem;
                margin-left: 5rem;
            }

            @media only screen and (max-width: 31.25em) {
                margin-right: 2rem;
                margin-left: 2rem;
            }

            @media only screen and (max-width: 25em) {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }

        }
    }


    &-not-login {
        .nav-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .button-container {
                height: 70%;
                display: flex;
                align-items: center;

                * {
                    margin-right: 3rem;

                    @media only screen and (max-width: 93.75em) { //1500px
                        font-size: 1.7rem;
                    };

                    @include respond(tab-land) {
                        font-size: 1.3rem;
                    }

                    @include respond(tab-port) {
                        padding: .25rem .5rem;
                        margin-right: 1.5rem;
                    }
                }




            }
        }
    }

    &-login {


        .nav-container {
            width: 100%;
            display: flex;

            .button-container {
                height: 70%;
                flex: 1;
                display: flex;
                align-items: center;

                font-size: 2rem;

                a {
                    color: $color-blue-dark !important;

                }

                *:not(:last-child){
                    margin-right: 3rem;

                    @media only screen and (max-width: 25em) {
                        margin-right: 1.5rem;
                    }
                }


                .search-box {
                    border: 2px solid $color-blue-dark;

                    display: flex;
                    align-items: center;
                    border-radius: 8px;



                    svg {
                        width: 2rem;
                        height: 2rem;
                        fill: $color-blue-dark;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        z-index: 100;
                    }

                    input {
                        border: none;
                        outline: none;
                        background-color: inherit;
                        padding: .2rem 0;
                        padding-right: 1.5rem;
                        color: $color-blue-dark;
                        width: 25rem;
                        transition: width .5s;


                        &::placeholder,
                        &::-webkit-input-placeholder {
                            color: rgba($color: #2C86C5, $alpha: .54)
                        }

                        &:focus {
                            width: 30rem;
                        }

                        @media only screen and (max-width: 767px) {
                            // 768px
                            padding: 0;
                            font-size: 1.8rem;
                        }

                        @include respond(phone) {
                            padding: .2rem 0;
                            padding-right: 1.5rem;
                        }

                        @media only screen and (max-width: 31.25em) {
                            // 500px
                            width: 22rem;

                            &:focus {
                                width: 22rem;
                            }
                        }

                    }
                }

            }


            .user-photo-container {
                height: 70%;
                display: flex;
                align-items: center;


                margin-right: 5rem;

                @media only screen and (max-width: 767px) {
                    // 768px
                    margin-right: 1.5rem;
                }

                @media only screen and (max-width: 31.25em) {
                    margin-right: .5rem;
                }

                img {
                    height: 5rem;
                    width: 5rem;
                    border-radius: 50%;
                    transition: transform .4s;

                    &:hover {
                        cursor: pointer;
                    }


                }

                .nav__dropdown-container {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;

                    margin-top: 1rem;
                    border-radius: 8px;

                    > * {
                        padding: .5rem 1rem;
                    }

                    .name {
                        background-color: $color-blue-dark;
                        margin-bottom: 0;
                        font-size: $font-3;
                        white-space: nowrap;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }

                    .profile, .log-out {
                        text-decoration: none;
                        color: black;
                        font-size: $font-3;
                        white-space: nowrap;

                        &:hover {
                            border: none;
                            color: white;
                        }
                    }

                    .profile-container, .log-out-container {
                        background-color: white;
                        &:hover {
                            background-color: $color-blue-dark;
                            cursor: pointer;
                        }

                        &:hover span {
                            color: white;

                        }
                    }

                }

            }

        }
    }
}


