.nav {
    height: $nav-height;
    z-index: 1000;
    position: relative;

    .brand-name {
        font-size: 3.5rem;
        font-family: 'Baloo Bhai', sans-serif;
        margin: 0 5rem;
        text-decoration: none;
        color: inherit;

        @include respond(md) {
            margin: 0 3rem;
        }
    }

    .nav__item {
        font-size: 2rem;
        font-weight: bold;
        color: inherit;
    }

    .svg-list {
        font-size: 3.5rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            animation: none !important;
        }

        &-dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: calc(100% + .75rem);

            .nav__item {
                margin-right: 0 !important;
                padding: 1rem 2rem;
                display: block;
                text-align: center;
                text-decoration: none;
                transition: all .2s;
            }
        }
    }

    .nav-left {
        margin-right: auto;

        .nav__item {
            margin-right: 3rem;
        }

        .svg-list {
            margin-right: 3rem;
        }

        @include respond(md) {
            .nav-toggle-lg {
                display: none;
            }

            .nav-toggle-sm {
                display: block !important;
            }
        }

        @include respond(sm) {
            .nav-toggle-sm {
                display: none !important;
            }
        }

    }

    .nav__form {
        width: 30rem;

        @include respond(sm) {
            width: 20rem;
        }
    }

    .btn-sign-in {
        border-radius: 1rem;
        padding: .5rem 1.5rem;
    }


    .nav-right {
        margin-right: 5rem;
        display: flex;
        align-items: center;

        .message-welcome {
            font-size: 2.4rem;
            font-weight: bold;

            animation: fade-in-out-animation 4s ease-in-out forwards;

            ~ * {
                display: none;
            }
        }

        .nav-fade-in-animation {
            animation: fade-in-animation 3s backwards;
        }

        &__svg-container {
            display: flex;
            align-items: center;
            margin-right: 3.5rem;

            svg {
                cursor: pointer;
                &:hover {
                    animation: shake-animation .3s linear;
                }
            }

            .svg-message {
                font-size: 2.3rem;
                margin-right: 1.8rem;
            }

            .svg-notification {
                font-size: 2.5rem;
            }

            @include respond(sm) {
                order: 1;
                margin-right: 0;
                margin-left: 2.5rem;

                .nav-toggle-sm {
                    display: block !important;
                }
            }
        }

        &__profile-img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 2px solid;
            cursor: pointer;
        }

        .svg-list {


            &-dropdown {
                right: 2.5rem;

                .svg-container {
                    &:hover {
                        cursor: default;
                        // color: $color-white;

                        * {
                            color: inherit !important;
                        }
                    }

                    .svg-message {
                        margin-right: 2.5rem;
                    }
                }

                .nav__item {

                }
            }
        }

        @include respond(md) {
            margin-right: 3rem;
        }

        @include respond(sm) {

            .nav-toggle-lg {
                display: none;
            }
        }
    }





}

.nav-guest {
    background-color: $color-white-dark-2;
    color: $color-blue-primary;

    .svg-list {

        &-dropdown {

            // .svg-container {
            //     &:hover {
            //         .nav__item {
            //             color: $color-white;
            //         }
            //     }
            // }
            .nav__item {
                background-color: $color-white;
                &:hover {
                    background-color: $color-blue-primary;
                    color: $color-white;
                }
            }
        }
    }

    .nav__form {

        &__search {
            border-color: $color-blue-primary;

            &:focus {
                border-color: $color-blue-primary-2;
                box-shadow: none;

                + .nav__form__svg {
                    fill: $color-blue-primary-2;
                }
            }

            &::placeholder {
                color: #A0A0A0;
            }
        }

        &__svg {
            fill: $color-blue-primary;
        }
    }

    .nav-right {

        &__svg-container {


            .svg-message, .svg-notification {
                color: $color-blue-primary;

                &:hover {
                    color: $color-blue-primary-2;
                }
            }
        }

        &__profile-img {
            border-color: $color-blue-primary;
        }
    }




}

.nav-auth {
    background-color: red;


    &--student {

    }

    &--tutor {

    }
}


