.chatting {
    margin-top: $nav-height;
    color: $color-black-2;

    &__side-bar--left {
        background-color: $color-white-dark-5;
        height: 100vh;
        width: 30rem;
        padding: 3rem 0;

        .heading {
            margin-left: 2rem;
        }

        .search-bar-container {
            padding: 0 2rem;
            margin-top: 1.5rem;
            position: relative;

            .search-bar {
                border-radius: 7rem;
                background-color: rgba(240, 240, 240, 0.9);
            }

            svg {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2.6rem;
                fill: $color-grey;
                cursor: pointer;
            }
        }

        .chatting-msgs {
            margin-top: 2rem;

            .chatting-msg {
                border-left: 5px solid $color-yellow-primary;

                .chatting-box {
                    $padding-y: 1rem;
                    $img-size: 5rem;
                    $time-width: 3rem;

                    padding: $padding-y 2rem;
                    padding-left: calc(2rem - 5px);
                    display: flex;


                    .img-container {
                        width: $img-size;
                        flex: 0 0 $img-size;
                        img {
                            width: $img-size;
                            height: $img-size;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .content-container {
                        display: flex;
                        flex-direction: column;
                        width: calc(100% - #{$img-size} - #{$time-width});

                        .message-content {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }


                    .time-container {
                        width: $time-width;
                    }

                }
            }
        }
    }


}
