.chatting {
    margin-top: $nav-height;
    color: $color-black-2;

    $outer-padding: 3rem;

    .chatting-container {
        padding: $outer-padding;
    }

    .search-bar-container {
        padding: 0 2rem;
        margin-top: 2rem;
        position: relative;

        .search-bar {
            border-radius: 7rem;
            background-color: rgba(240, 240, 240, 0.9);
            font-size: 1.6rem;
            padding: 1.75rem 1.5rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2.8rem;
            fill: $color-grey;
            cursor: pointer;
        }
    }

    &__side-bar--left {
        background-color: $color-white-dark-5;
        height: calc(100vh - #{$nav-height} - 2 * #{$outer-padding});
        width: 37rem;
        flex: 0 0 37rem;
        padding: 3rem 0;
        overflow: scroll;
        border-radius: 1rem;

        .heading {
            margin-left: 2rem;
            font-size: 3.5rem;
        }

        .chatting-msgs {
            margin-top: 2rem;

            > *:not(:first-child) {
                paddings-top: 1rem;

            }

            .chatting-msg {
                border-left: 5px solid transparent;

                &.unread {
                    border-left: 5px solid $color-yellow-primary;
                }

                .chatting-box {
                    $padding-y: 1.75rem;
                    $img-size: 5.5rem;
                    $time-width: 5rem;

                    padding: $padding-y 2rem;
                    padding-left: calc(2rem - 5px);
                    display: flex;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(240, 240, 240, 0.9);;
                    }


                    .img-container {
                        width: $img-size;
                        flex: 0 0 $img-size;

                        img {
                            width: $img-size;
                            height: $img-size;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                    }

                    .content-container {
                        display: flex;
                        flex-direction: column;
                        width: calc(100% - #{$img-size} - #{$time-width} - 1rem);
                        padding: 0rem 1rem 0 1.5rem;
                        justify-content: center;

                        .user-name, .content-2 {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .content-1 {
                            display: flex;
                            align-items: center;
                            position: relative;

                            .user-name {
                                font-size: 1.8rem;
                                font-weight: 500;
                            }

                            .time {
                                position: absolute;
                                left: calc(100% + 1.6rem);
                                font-size: 1.2rem;
                                color: $color-grey;
                                text-align: right;
                                width: $time-width;
                            }
                        }

                        .content-2 {
                            font-size: 1.3rem;
                            color: $color-grey;
                        }


                    }

                }
            }
        }
    }

    &__content {
        margin-left: 2rem;
        flex: 1;

        &__header {
            background-color: $color-white-dark-5;
            padding: 3rem 3rem;
            width: 100%;
            box-shadow: 0px 1px 3rem rgba(0, 0, 0, 0.05);
            border-radius: 1rem 1rem 0px 0px;
            display: flex;
            align-items: center;

            .user-name {
                font-size: 2.2rem;
                font-weight: 500;
                color: $color-black-2;
            }

            .other-info {
                font-size: 1.4rem;
                color: $color-grey;
                margin-left: 1.3rem;
                display: flex;
                align-items: center;
            }
        }


    }

}
