.chatting {

    &__side-bar--left {
        .heading-container {
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-grey-4;
        }

        .msgs {
            height: calc(100% - 12.5rem + 12.5rem);
        }
    }

    &__content {
        $padding: 3rem;
        &__header {
            display: flex;

            .user-name {
                color: $color-black-2;
            }

            .other-info {
                font-size: 1.4rem;
                color: $color-grey;
                margin-left: 1.3rem;
                display: flex;
                align-items: center;
            }

            .btn-request, .btn-view {
                margin-left: auto;
                font-size: 1.4rem;
                padding: .8rem 2rem;
                border-radius: 2rem;
            }
        }

        &__messages {
            background-color: #E3E3E3;
            padding: $padding;
            flex: 1;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            .message {
                display: flex;

                &:not(:first-child) {
                    margin-top: 2.5rem;
                }

                .img-container {
                    margin-right: 2rem;

                    img {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .message-content-container {
                    padding: 1.5rem 2rem;
                    border-radius: 1rem;
                    max-width: 50%;
                    font-size: 1.5rem;
                }

                .time-container {
                    font-size: 1.4rem;
                    color: $color-grey;
                    display: flex;
                    align-items: flex-end;
                }

                &--self {
                    justify-content: flex-end;

                    .message-content-container {
                        margin-left: 1.5rem;
                        background-color: rgba($color-white-dark-5, 1);
                        color: $color-black-2;
                    }
                }

                &--other {
                    .message-content-container {
                        margin-right: 1.5rem;
                        color: $color-white-dark-5;
                    }
                }

            }
        }
    }


    &__send-msg-container {
        background-color: $color-white-dark-5;
        border-radius: 0px 0px 1rem 1rem;
        padding: 3rem;


        .search-bar-container {
            display: flex;
            align-items: center;

            .search-bar {
                margin-right: 2rem;
                padding: 2.25rem 2rem;
            }

            .btn-send {
                font-size: 1.6rem;
                border-radius: 3rem;
                padding: 1rem 2rem;
            }
        }


    }

}


.bg-student {
    .message-content-container {
        background-color: rgba($color-blue-primary, .95);
    }

}

.bg-tutor {
    .message-content-container {
        background: rgba($color-purple-primary, .95);
    }

}
