@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin boxShadow {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
}
// MEDIA QUERY MANAGER
/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +: big desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == extra-sm {
        @media only screen and (max-width: 35.99rem) { //576px
            // @content can pass content into a mixin
            @content
        };
    }
    @if $breakpoint == sm {
        @media only screen and (max-width: 47.99em) { //768px
            // @content can pass content into a mixin
            @content
        };
    }
    @if $breakpoint == md {
        @media only screen and (max-width: 61.99em) { //992px
            // @content can pass content into a mixin
            @content
        };
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 74.99em) { //1200px
            // @content can pass content into a mixin
            @content
        };
    }
    @if $breakpoint == extra-lg {
        @media only screen and (min-width: 160em) { //2560px
            // @content can pass content into a mixin
            @content
        };
    }
}
