$color-grey: #A0A0A0;
$color-grey-2: #EAEAEA;
$color-grey-light: #E5E5E5;
$color-white: #FFFFFF;
$color-white-dark: #F4F4F4;
$color-white-dark-2: #F8F8F8;
$color-white-dark-3: #F3F3F3;

$color-yellow-primary: #FFBC00;
$color-footer: #07306C;

$color-purple-primary: #6749DF;
$color-purple-primary-2: #502ED9;
$color-purple-secondary: #30188F;
$color-purple-secondary-2: #251175;
$color-blue-primary: #1F7AFF;
$color-blue-primary-2: #0075E0;
$color-blue-secondary: #0C4293;
$color-blue-secondary-2: #07306C;
$color-black-discussion: #626262;

$nav-height: 8rem;
