$color-blue-light: rgba(#97D2FB, 1);
$color-blue-light-trans: rgba(#97D2FB, .25);
$color-blue-dark: rgba(#2C86C4, 1);
$color-white: rgba(#F7FBFD, 1);
$color-blue-dark-nav: rgba(rgb(44, 134, 196), .25);
$color-gray: rgba(#9A9A9A, 1);
$color-bookmark: rgba(#FFDC60, 1);
$color-orange: rgba(#FFC077, 1);
$color-message-other: rgba(#C4C4C4, 1);
$color-message-self: rgba(#A3A3A3, 1);
$color-message-unread: rgba(#FFC077, 1);
$color-dark: rgba(#343a40, 1);
// because the navbar is 100px in 1440 screen size and resize according to this ratio
$navbar-height: calc(100vw / 14.4);


// crimson text + work sans
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Work+Sans:wght@400;700&display=swap');


// usage
// font-family: 'Work Sans', sans-serif;
// font-family: 'Crimson Text', serif;
