$color-grey: #A0A0A0;
$color-grey-light: #E5E5E5;
$color-white: #FFFFFF;
$color-white-dark: #F4F4F4;


$color-yellow-primary: #FFBC00;


$color-purple-primary: #6749DF;
$color-blue-primary: #1F7AFF;
$color-blue-secondary: #0075E0;
$color-blue-tertiary: #003E77;
