.edit-profile__container {
    & .back-button {
        margin-top: 2rem;
        border: 1px solid black;
        font-size: 2rem;
        color: black !important;

        &:focus {
            box-shadow: none;
        }
    }


}

.edit-profile__form {
    margin-bottom: 10rem;

    & button {
        font-size: 2rem;
    }
    
    &__header {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & span {
            font-size: $font-2;
        }
        & button:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        & * {
            width: 40%;
        }

        & input {
            font-size: 2rem;
            background-color: $color-white;
            border: 1px solid $color-gray;
            padding: .5rem 1rem;
            outline: none;
            margin-right: 1.5rem;
            border-radius: 8px;
            
        }

        & input::-webkit-input-placeholder {
            color: $color-gray;
        }

        & span {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            color: $color-gray;
            margin-right: 1.5rem;
            margin-bottom: 4px;
        }
    }


}