.fgpwd-outerbox {
    height: calc(100vh - #{$navbar-height});
    position: relative;

    min-height: 700px;
}
.fgpwd-container {


    @include absCenter;
    transform: translate(-50%, -60%);

    width: 50%;
    &__header {
        font-size: $font-1;
        margin-bottom: 2rem;
    }

    h5 &__header-2 {
        font-size: $font-2;
        font-weight: 400 !important;
    }


    &__inputs {
        width: 100%;
        margin: 8rem 0 5rem 0;
        display: flex;
        justify-content: center;
        &__email {
            
            width: 60%;
            font-size: $font-2;
            background-color: $color-white;
            border: none;
            outline: none;
            border-bottom: 1px solid black;
        }
    }

    &__button-container {
        width: 100%;
        text-align: center;

        & button {
            width: 60%;
            margin-bottom: 1rem;
            font-size: $font-2;
        }
    }

    


}

