.fgpwd-outerbox {
    height: calc(100vh - #{$navbar-height});
    position: relative;
}
.fgpwd-container {
    @include absCenter;

    width: 50%;
    &__header {
        font-size: $font-1;
    }

    &__header-2 {
        font-size: $font-2;
    }


    &__inputs {
        width: 100%;
        margin: 5rem 0 15rem 0;
        text-align: center;
        &__email {
            width: 75%;
            font-size: $font-2;
            background-color: $color-white;
            border: none;
            outline: none;
            border-bottom: 1px solid black;
        }
    }

    &__button-container {
        width: 100%;
        text-align: center;

        & button {
            width: 75%;
            margin-bottom: 1rem;
            font-size: $font-2;
        }
    }

    


}

