.m-header-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-left-container {
    margin-top: 1rem;
    // padding-left: 0 !important;
    // padding-right: 0 !important;
}

.search-messages-container {
    width: 100%;
    
    position: relative;
    display: flex;
    align-items: center;

    .search-messages {
        width: 100%;
        border: 1px solid $color-gray;
        outline: none;
        background-color: transparent;
        
        font-size: 1.5rem;
        border: 1px solid grey;
        padding: .5rem 4rem;

        
    }

    svg {
        position: absolute;
        left: 1rem;
        width: 2rem;
        height: 2rem;
        fill: grey;
        z-index: 1000;
    }
}


.messages-table-left {
    
    
    &-1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        .name {
            
        }
    
        .request-pending {
            
        }

        .time {
            
        }

        * {
            border: none !important;
        }

    }

    
}