// ================== About ==================
.about__information {
    // background-color: red;
    height: 30rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;

    &__img {
        flex: 0 0 25%;

        & img{
            width: 100%;
            border-radius: 50%;
            padding: 2rem;
        }
    }

    &__content {
        flex: 0 0 75%;

        & .descriptor {
            color: grey;
            font-size: 1.5rem;
        }
        & .text {
            font-size: 2rem;
        }

        & .name {
            font-size: $font-2;
            font-weight: 500;
        }

        & .major-minor-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            line-height: 1;

            & span {
                width: 50%;
                height: 2rem;
                background-color: red($color: #000000);
            }

        }

        & .graduating-container {
            & .descriptor {
                margin-top: 2rem;
                display: block;
            }
        }

        & a {
            margin-top: 2rem;
            font-size: 2rem;
            width: 50%;
        }

    }


}

.about__subjects__header, 
.about__courses__header, 
.about__characteristics__header {
    margin-top: 3.5rem;
    font-size: $font-2;
}

.about__content {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    & svg {
        position: absolute;
        left: 1rem;
        width: 2rem;
        height: 2rem;
        fill: grey;
        z-index: 1000;
    }
}

.about__input {
    width: 60%;
    font-size: 2rem;
    background-color: $color-white;
    border: 1px solid grey;
    padding: .5rem 4rem;
    outline: none;
    border-radius: 7px;
}

.about__buttons__container {
    display: flex;
    flex-wrap: wrap;

    & button {
        border: 1px solid black;
        font-size: 2rem;
        width: 40%;
        display: flex;
        align-items: center;
        // justify-content: center;
        margin-right: 10px;
        margin-top: 10px;
        & svg {
            margin-right: 0.75rem;
            width: 2rem;
            height: 2rem;
        }

        .name {
            color: black;
        }

        &:focus {
            box-shadow: none;
        }


        
    }
}





// ======================= Sessions ================
.sessions__container-1 {
    min-height: 40rem;
    margin-top: 5rem;
}
.sessions__header {
    font-size: $font-2;

    &--sub {
        font-size: 1.5rem;
    }

}

.sessions__info {
    margin-top: 1rem;
}






// ======================= Saved ===================












// ======================== Reviews ===================

.reviews__container {
    margin-top: 5rem;
    & .reviews__header {
        font-size: $font-2;
    }

    & .reviews {
        font-size: 1.5rem;
    }
}