.search-container {
    margin-top: 3rem;

    .search__header {

    }
    
    .search__box {
        margin-top: 2rem;
        border: 1px solid $color-gray;
        font-size: $font-2;
        display: flex;
        align-items: center;
        border-radius: 8px;
        width: 75%;


        svg {
            width: 3.2rem;
            height: 3.2rem;
            fill: $color-gray;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        input {
            border: none;
            outline: none;
            background-color: inherit;
            padding: 5px 0;
            width: 400px;
        }

    }



    .filters-label {
        margin-top: 2rem;
    }

    .year, .price {
        font-size: $font-3;
        font-weight: 400;
        margin-bottom: 2rem;
        color: $color-gray;
    }
    

    .bold {
        font-weight: 500;
    }

    .filter-container {
        display: flex;
        margin-top: .5rem;

        button {
            padding: .5rem 2rem;
        }

        button:not(:last-child) {
            margin-right: 1rem;
        }
    }
    

}

