.signup- {
    &container {
        // background-color: green;
        height: calc(100vh - #{$navbar-height});
        position: relative;

        $line-height: 2em;

        &__form {
            @include absCenter;

            width: 75%;
            font-size: 1rem;


            &__group {
                margin-bottom: 4rem;
            }

            & label,
            & input,
            &__btn {
                font-size: 2.5em !important;
                line-height: $line-height;
            }

            & label {
                margin-bottom: 0;
                display: block;
                text-align: left;

                position: relative;
                top: calc(-#{$line-height} - 3px);
                

                transition: all .5s;
            }

            & input {
                border: none;
                border-bottom: 3px solid black;
                width: 100%;
                margin-bottom: 0;
                transition: all .5s;

                position: relative;
                top: $line-height;

                display: block;
                


                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: 0 1rem 2rem rgba(black, .1);
                    border-bottom: 3px solid green;
                    background-color: white;
                }

                &:focus:invalid {
                    border-bottom: 3px solid red;
                }

                &:focus:valid {
                    border-bottom: 3px solid greenyellow;
                }


                &::-webkit-input-placeholder {
                    color: grey;
                }

            }


            

            // select label
            input:placeholder-shown+label {
                opacity: 0;
                transform: translateY(calc(#{$line-height} + 3px));
                visibility: hidden;
            }

            

            


            &__header {
                text-align: center;
                margin-bottom: 5rem;
                font-size: 5em;
            }


            &__btn {
                width: 100%;
            }




        }




    }

}