.payment-cards {
    $bank-card-height: 20rem;
    $bank-card-width: calc(#{$bank-card-height}*1.75);
    $bank-card-border-radius: 1rem;
    $gray-overlay-z-index: 5;
    $buttons-z-index: 10;
    // @include respond(md) {
    //     $bank-card-height: 8rem;
    //     $bank-card-width: 40%;
    // }

    @mixin bank-card-dimension-style {
        position: relative;
        padding: 2.75rem;
        min-width: calc(6rem*1.75);
        width: $bank-card-width;
        min-height: 6rem;
        height: $bank-card-height;
        @include respond(md) {
            height: 22rem;
            width: calc(22rem*1.75);
        }
        @include respond(extra-sm) {
            height: 18rem;
            width: calc(18rem*1.75);
        }
        @include respond(extra-sm-0) {
            height: 20rem;
            width: calc(20rem*1.75);
        }
        flex-wrap: wrap;
        border-radius: $bank-card-border-radius;
    }
    width: 100%;
    display: grid;
    font-size: 1.25rem;
    color: $color-white;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include respond(md) {
        grid-template-columns: repeat(1, 1fr);
    }
    @include respond(extra-sm) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond(extra-sm-0) {
        grid-template-columns: repeat(1, 1fr);
    }

    .bank-card {

        @include bank-card-dimension-style;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .overlay {
            display: none;
            width: 100%;
            position: absolute;
            border-radius: $bank-card-border-radius;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 15, 15, 0.5);
        }

        &-row-one {
            height: 35%;
            display: flex;
            justify-content: flex-start;
        }

        &-row-two {
            height: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-row-three {
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .brand {
            svg {
                width: 6rem;
            }
        }

        .number {
            font-size: 2rem;

            span {
                padding-left: 2rem;
            }

        }

        .card-holder {
            display: flex;
            flex-direction: column;
        }

        .expiration {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &:hover {
            .bank-card-btns {
                display: flex;
                z-index: $buttons-z-index;
            }

            .overlay {
                display: block;
                transition: display 2s;
                z-index: $gray-overlay-z-index;
            }
        }

        // buttons, only show when hover
        &-btns {
            width: 100%;
            height: 100%;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 50%;
            /* position the top  edge of the element at the middle of the parent */
            left: 50%;
            /* position the left edge of the element at the middle of the parent */
            transform: translate(-50%, -50%);
            position: absolute;

            button {
                border-radius: 20px;
                font-size: 1.5rem;
                outline: none;
                margin: 1rem;
                width: 40%;
                height: 4rem;
            }
        }

        .btn-delete {
            background-color: white;
            color: red;

        }

        .btn-set-default {
            background-color: rgb(103, 71, 231);
            color: white;
        }

    }

    .user-info {
        font-weight: bold;
        font-size: 1.3rem;
    }

    // add payment button
    .btn-add-payment {
        @include bank-card-dimension-style;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: #626262;
        border: #9A9898 dotted 1px;

        &:hover {
            cursor: pointer;
        }
    }

    // background colors:
    // default
    .bg-default {
        background: linear-gradient(rgb(233, 156, 40), rgb(195, 149, 31));
    }

    // not default
    .bg-non-default {
        background: linear-gradient(rgba(131, 101, 253, 1), rgba(77, 49, 189, 1));
    }

    .bg-add-card {
        background: $color-white-dark-5;
    }

    // helper class
    .default-payment-font{
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.add-card-agreement{
    display: flex;
    flex-direction: row;
    align-items: center;

    input{
        width: 1rem;
        margin-right: 1rem;
        min-width: 15px;
    }
}

.billing-account-inputs{
    margin-bottom: 1rem;
}
