.info-boxes {
    width: 100%;

    > * {
        margin-top: 1rem;
    }

    .info-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
        background-color: $color-white-dark-5;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: $color-black-2;
        box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);

        @include respond(extra-sm) {
            flex-wrap: wrap;
        }

        .flex-100 {
            display: none;
            @include respond(extra-sm) {
                display: block;
            }
        }

        > div:not(:last-child) {
            margin-right: 1rem;
            overflow: scroll;

            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            & {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
        }

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .content {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: auto;
            color: inherit;
        }

        .title {
            font-size: 1.3rem;
            color: $color-grey;
            display: block;
        }

        .user-info {
            display: flex;
            align-items: center;
            width: 22rem;
        }

        .date {
            width: 20ch;
        }

        .time {
            width: 20ch;
        }

        .course {
            width: 13ch;
        }

        .actions {
            display: flex;
            width: 21ch;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            @include respond(md) {
                width: 12ch;
                justify-content: center;

                .btn:last-child {
                    margin-top: .5rem;
                }
            }

            @include respond(extra-sm) {
                width: 100%;
                justify-content: flex-end;

                .btn {
                    margin-top: .5rem;

                    &:last-child {
                        margin-left: 1rem;
                    }
                }
            }

            .btn {
                width: 12ch;
            }

        }

        .action {

        }

    }



}



