.invite {
    background-color: $color-grey-2;
    min-height: 100vh;
    position: relative;

    &__header-bg {
        position: absolute;
        height: 65vh;
        width: 100vw;
        border-radius: 0 0 10vw 0;
        margin: 0 -15px;
    }

    .invite-content {
        padding-top: 23vh;
        display: flex;
        color: $color-white;
        padding-left: 12vw;

        .content-container {
            max-width: 50vw;
            margin-right: 5rem;
            margin-top: 0rem;

            @include respond(md) {
                max-width: calc(100vw - 12vw - 30px);
            }

            .content {
                font-size: 1.8rem;
                margin-top: 2rem;
            }

            .qualification {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                svg {
                    margin-right: 1rem;
                }
            }

            .input-container {
                font-size: 1.8rem;
                margin-top: 1.5rem;

                > * {
                    padding: 1.2rem 2rem;
                    margin-top: 1rem;
                }

                input {
                    margin-right: 1rem;
                    min-width: 50rem;
                    outline: none;
                    border-radius: .5rem;
                    border: none;

                    @include respond(md) {
                        min-width: 30rem;
                    }
                }

                button {
                    background-color: #FBB752;
                    color: $color-white;
                    font-size: 1.6rem !important;
                    vertical-align: unset;
                }
            }
        }

        .svg-container {
            transform: translateY(-4rem);

            @include respond(md) {
                display: none;
            }

            svg {
                width: 30rem;
            }
        }


    }

    &__footer {
        position: absolute;
        bottom: 8rem;
        left: 50%;
        transform: translateX(-50%);

        &__button {
            padding: 1rem 0;
            width: 40rem;
            border-radius: 3rem;
        }
    }
}
