.post-previews {
    margin-bottom: 30rem;
    position: relative;

    .no-posts {
        color: $color-grey;
        @include absCenter;
        top: 5rem;
        white-space: nowrap;
    }

    .post-preview {

        &--mypost {
            padding-top: 2.5rem;
        }

        &__content-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__left {
            flex: 1;
        }

        &__right {
            max-width: 15rem;
            flex: 0 0 25%;
            max-height: 10rem;
            margin-left: 3rem;

            &__thumbnail {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .75rem;
                border: none !important;
            }
        }

        // show only two lines
        .post__heading {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;

            color: $color-black-post;

            &-2 {
                color: $color-black-post;
            }
        }

        .post__content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;

            max-height: 15rem;
            overflow: hidden;
            * {
                color: inherit !important;
                font-size: inherit !important;
                background-color: none !important;
            }
        }

        .post__bottom {

            &__info {
                color: $color-grey;
            }
            svg {
                fill: $color-grey;
            }

            .tag {
                margin-bottom: 0 !important;
            }
        }

        .poster-name {
            color: $color-black-post;
        }
    }

}


.bg-student {
    .post-preview--mypost {
        background-image: linear-gradient(180deg, rgba($color-blue-primary, .15) 0%, rgba($color-blue-primary, .1) .75rem, transparent 2rem);
    }
}

.bg-tutor {
    .post-preview--mypost {
        background-image: linear-gradient(180deg, rgba($color-purple-primary, .15) 0%, rgba($color-purple-primary, .1) .75rem, transparent 2rem);
    }
}
