.post-reply {
    margin-top: 3rem;
    display: flex;
    color: initial;

    position: relative;
    border-radius: 1rem;
    background-color: $color-white-dark-5;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);
    padding: 3rem 4rem 2rem 4rem;

    .left-container {
        overflow: hidden;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 10rem;

        > :not(:first-child) {
            margin-top: .5rem;
        }

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            border: 1px solid transparentize($color: $color-grey, $amount: .5);
        }

        .user-name {
            font-size: 1.5rem !important;
            line-height: 1.2;
        }

        .user-info {
            white-space: nowrap;
            font-size: 1.2rem;
        }

    }

    .right-container {
        flex: 1;

        .post-reply__actions, .post-reply__info {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            font-size: 1.4rem;

            svg {
                fill: $color-grey;
                width: 2rem;
                height: 2rem;
            }

            .action {
                margin-right: 1rem;
            }
        }

        .btn-toggle-follow-up {
            font-size: 1.4rem;
            color: $color-black-post !important;
        }
    }

}

.post-comment, .post-followup {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    color: initial;
    flex: 0 0 100%;

    border-radius: .5rem;
    background-color: $color-white-dark-5;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);


    &__input {
        background-color: $color-white-dark-4;
        flex: 1;
        display: inline-block;
        border: none;
        outline: none;

        &::placeholder {
            color: $color-grey;
        }

        &:focus {
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
        }
    }


}

.post-comment {
    padding: 1.5rem 2rem 1.5rem 2rem;

    &__input {
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        border: 1px solid transparentize($color: $color-grey, $amount: .5);
    }

    .btn-reply {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        font-weight: bolder;
    }
}

.post-followup {
    padding: .5rem 1rem;
    margin-left: 15rem;

    &__input {
        margin: .5rem 1rem;
        padding: .5rem 1rem;
        font-size: 1.6rem;
    }

    .btn-reply {
        font-size: 1.6rem;
        padding: .6rem 1.2rem;
        font-weight: bolder;
    }
}

.followup-container {
    margin-top: 1.5rem;
    color: initial;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: $color-white-dark-5;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.1);
    padding: 2rem;
    margin-left: 15rem;

    .followup__content {
        .followup-to {
            color: $color-grey;
        }

    }


    .followup__info {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        margin-top: 2rem;

        &__left {
            margin-right: auto;
            font-size: 1.2rem;
        }
    }


    .action {
        margin-right: 1rem;
        svg {
            fill: $color-grey;
            width: 2rem;
            height: 2rem;
        }
    }


}



.bg-student {
    .post-reply .left-container {
        .user-name {
            color: $color-blue-primary;
        }
    }

    .post-comment, .post-followup {
        .btn-reply {
            background-color: $color-blue-primary;
            color: $color-white;
        }
    }

    .followup__user {
        color: $color-blue-primary;
    }
}

.bg-tutor {
    .post-reply .left-container {
        .user-name {
            color: $color-purple-primary;
        }
    }

    .post-comment, .post-followup {
        .btn-reply {
            background-color: $color-purple-primary;
            color: $color-white;
        }
    }

    .followup__user {
        color: $color-purple-primary;
    }
}
