.user-card {
    background-color: $color-white-dark-5;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem 1rem;
    overflow: hidden;
    position: relative;

    > * {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    .user-image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid transparentize($color: $color-grey, $amount: .5);
    }

    .verified-stamp {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;

        @include respond(lg) {
            left: -.5rem;
        }
    }

    .bookmark-svg {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        margin-top: 0;
        fill: currentColor;
        cursor: pointer;
    }

    .user-name {
        color: currentColor;
    }

    .user-info {
        color: $color-black-post;
    }

    .btn-chat, .btn-request, .btn-invite {
        font-size: 1.6rem;
        width: 80%;
        border: 1px solid currentColor;

        &:focus {
            box-shadow: none;
        }
    }

    .btn-chat {
        color: currentColor;
    }
}

.bg-student {

    .user-card {
        .btn-request, .btn-invite {
            color: $color-white-dark-5;
            background-color: $color-blue-primary;
        }
    }
}

.bg-tutor {

    .user-card {
        .btn-request, .btn-invite {
            color: $color-white-dark-5;
            background-color: $color-purple-primary;
        }

    }
}


