.notification {

    &__side-bar--left {
        .msgs {
            height: calc(100% - 16rem + 16rem);
        }
    }

    .notification-type-info {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .type-container {
            display: flex;
            align-items: center;
            font-size: 1.4rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            svg {
                margin-right: .75rem;
            }
        }
    }

    &__content {
        margin-left: 2rem;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;

        $padding: 3rem;
        &__header {

        }

        &__info {
            background-color: $color-grey-4;
            padding: $padding;
            flex: 1;
            overflow: scroll;
        }

        .notification__content__info {

            &__wrapper {
                border-radius: 1rem;
                overflow: hidden;
                background-color: $color-white-dark-5;
            }

            &__header {
                height: 8rem;
            }

            .content {
                padding: 2rem 5rem 5rem 5rem;

                > * {
                    margin: 2.5rem 0 0 0;
                }
            }
        }
    }


}
