.notification {

    &__side-bar--left {
        .msgs {
            height: calc(100% - 16rem);
        }
    }

    .notification-type-info {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .type-container {
            display: flex;
            align-items: center;
            font-size: 1.4rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            svg {
                margin-right: .75rem;
            }
        }
    }
}
